@import 'ref.less';
body{
	font-size: 15px;
	line-height: 22px;
	color: @font_color;
	font-family: 'Roboto', sans-serif;
	background: @bg_base;
	color: @heading_color;
}
btn,button,a{
	outline:none;
}
.login_container{
	background: url(../img/hexagon-pattern.png) @bg_login;
}
.number{
	font-family: 'Lato', sans-serif;
}
/* login */
/* header */
header{
	padding-bottom: 20px;
	z-index: 10000;
	/*border-bottom:2px solid #eee;*/
	.logo{
		margin: 0px auto;
		display: inline-block;
		span{
			display: inline-block;
			background-color: @aqua;
			display: inline-block;
			padding: 20px;
			padding-top: 30px;
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
	}
	.text{
		float: right;
		text-align: right;
		width: 45%;
		margin: 0px auto;
		margin-top: 15px;
		margin-bottom: 15px;
		color: @login_text;
		h3{
			font-size: 36px;
			font-weight: bold;
			letter-spacing: 0.5s;
			margin-top: 0px;
			padding-top: 10px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.tag{
			font-weight: 500;
			color: #b3bdcd;
			font-size: 12px;
		}
	}
}
/* header */
/* login content*/
.bg_blur{
	background: rgba(43,48,61,0.5)!important;
	width: 350px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.login_content{
	font-size: 11px;
	padding: 20px 0px;
	letter-spacing: 0.5px;
	.form_div{
		background-color: #63ADBA;
		color: #fff;
		width: 350px;
		margin: 0px auto;
		padding: 20px;
		padding-bottom: 10px;
		position: relative;
		height: 500px;
		box-shadow: @login_form_shadow;
		.create_div{
			display: none;
		}
		.actvive_login_forgot{
			position: relative;
			margin: -20px;
			padding: 20px;
			background: #63ADBA;
			z-index: 10;
		}
		/* login active */
		.login_active{
		}
		/* login active */
		/* forgot active */
		.forgot_active{
			position: relative;
			border-top: 2px dotted @login_button_bg;
			padding-top: 61px;
			margin-top: 20px;
			padding-bottom: 41px;
		}
		/* forgot active */
		/* login_btn */
		.login{
			border-top:2px dotted @border_pink!important;
			top: 50px;
			left: -166px;
			.icon_div{
				.hex1_dash_left{
					color: @border_pink;
				}
			}
			.button_div{
				button{
					border: 2px solid @border_pink;
					border-color:@border_pink;
					background: @border_pink;
				}
			}
		}
		/* login_btn */
		/* forgot_pass btn */
		.forgot_pass{
			border-top: 2px dotted @border_yellow!important;
			left: -166px;
			top: 165px;
			.icon_div{
				.hex1_dash_left{
					color: @border_yellow;
				}
			}
			.button_div{
				button{
					border: 2px solid @border_yellow;
					border-color:@border_yellow;
					background: @border_yellow;
				}
			}
		}
		/* forgot_pass btn */
		/* create_acc btn */
		.create_acc{
			border-top: 2px dotted @border_red!important;
			left: -166px;
			top: 279px;
			.icon_div{
				.hex1_dash_left{
					color: @border_red;
				}
			}
			.button_div{
				button{
					border: 2px solid @border_red;
					border-color:@border_red;
					background: @border_red;
				}
			}
		}
		/* create_acc btn */
		/*  pm */
		.pm{
			border-top:2px dotted @border_blue!important;
			top: 50px;
			left: 354px;
			.icon_div{
				.hex1_dash_left{
					color: @border_blue;
				}
			}
			.ticket{
				background: @border_blue;
			}
		}
		/* pm*/
		/*  tm */
		.tm{
			border-top:2px dotted @border_lpink!important;
			top: 181px;
			left: 354px;
			.icon_div{
				.hex1_dash_left{
					color: @border_lpink;
				}
			}
			.ticket{
				background: @border_lpink;
			}
		}
		/* tm*/
		/*  milestones */
		.milestones{
			border-top:2px dotted @border_purple!important;
			top: 312px;
			left: 354px;
			.icon_div{
				.hex1_dash_left{
					color: @border_purple;
				}
			}
			.ticket{
				background: @border_purple;
			}
		}
		/* milestones */
		/*  teams */
		.teams{
			border-top:2px dotted @border_green!important;
			top: 443px;
			left: 354px;
			.icon_div{
				.hex1_dash_left{
					color: @border_green;
				}
			}
			.ticket{
				background: @border_green;
			}
		}
		/* milestones */
		.border_div{
			position: absolute;
			width: 160px;
			border-top:1px dashed #fff;
			height: 2px;
			.content_wrap{
				position: relative;
				.ticket{
					box-shadow: @login_flap_shadow;
					position: absolute;
					width: 257px;
					height: 110px;
					top: -55px;
					left: 160px;
					text-align: left;
					color: #fff;
					padding: 15px;
					h3{
						font-size: 18px;
						font-weight: bold;
						margin-top: 0px;
						text-transform: uppercase;
						margin-bottom: 13px;
					}
					.tag_description{
						font-size: 11px;
						line-height: 19px;
					}
				}
				.button_div{
					position: absolute;
					top: -17px;
					right: 160px;
					text-align: right;
					width: 100%;
					display: inline-block;
					button{
						box-shadow: @login_flap_shadow;
						border-radius: 0px;
						padding: 3px 13px;
						font-size: 11px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				.icon_div{
					position: relative;
					width: auto;
					top: -19px;
					left: 36%;
					.hex1_dash_left{
						font-size: 35px;
						z-index: 0;
						position: absolute;
					}
					.icon_upon{
						z-index: 10;
						color: #fff;
						font-size: 15px;
						top: 10px;
						left: 9px;
						position: absolute;
					}
				}
			}
		}
		.forgot_login_div{
			display: none;
		}
		.hex1_left{
			position: absolute;
			color: @login_button_bg;
			font-size: 12px;
			left: -5px;
			top: 45px;
			z-index: 30;
		}
		.hex2_left{
			.hex1_left;
			top: 160px!important;
		}
		.hex3_left{
			.hex1_left;
			top: 275px;
		}
		.hex1_right{
			.hex1_left;
			left: auto;
			right: -5px;
			top: 45px;
		}
		.hex2_right{
			.hex1_right;
			top: 176px!important;
		}
		.hex3_right{
			.hex1_right;
			top: 307px!important;
		}
		.hex4_right{
			.hex1_right;
			top: 438px;
		}
		.title_flap{
			float: right;
			padding: 5px 10px;
			position: relative;
			z-index: 50!important;
			top: -36px;
			right: -20px;
			background: #fff;
			border:1px solid #63ADBA;
			color: #63ADBA;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.forgot_flap{
			top: -80px;
		}
		.form-group{
			width: 100%;
			label{
				text-transform: uppercase;
				text-align: left;
			}
			.form-control{
				height: 37px;
				box-shadow: none;
				border-radius: 0px;
				border:1px solid #fff;
			}
			.button{
				padding:8px 20px 5px 20px;
				margin: 0px auto;
				margin-top: 25px;
				margin-bottom: 15px;
				letter-spacing: 1px;
				display: inherit;
				background-color: @login_button_bg;
				text-transform: uppercase;
				font-weight: bold;
				border:none;
				box-shadow: none;
				border-radius: 3px;
			}
			.tag_text{
				text-transform: uppercase;
				color: @login_button_bg;
				font-weight: bold;
				display: block;
				text-align: center;
				a{
				color: #fff;
				text-transform: uppercase;
				}
			}
		}
	}
}
/* login content */

/* login */

/* base */
#header_base{
	position: fixed;
	top: 0px;
	width: 100%;
	background: #fff;
	height: 42px;
	.left_header{
		display: inline-block;
		.right_header .menu;
		.menu{
			ul{
				li{
					.logo{
						i{
							padding: 11px 30px;
							background: #FFF;
							color: @aqua;
							position: relative;
							font-size: 28px;
							text-align: center;
							cursor: pointer;
						}
					}
					.pg_mt{
						  margin-left: -4px;
						  cursor: pointer;
						  transition: 0.3s;
						  clear: both;
						  line-height: 14px;
						  margin-right: -3px;
					}
				}
			}
		}
	}
	.right_header{
		float: right;
		.menu{
			display: inline-block;
			ul{
				display: inline-block;
				margin: 0px;
				padding: 0px;
				li{
					display: inline-block;
					float: left;
					list-style: none;
					padding: 0px;
					margin: 0px;
					position: relative;
					top: 0px;
					margin-left: 0px;
					.extras{
						border-left:1px solid @aqua!important;
					}
					&:hover{
						.slimScrollDiv{
							display: block;
						}
						ul{
							display: block;
						}
					}
					&:first-child{
						.each_wrap{
							border-left: 0px;
						}
					}
					/*&:last-child{
						margin-left: 1px;
						&:hover{
							margin-left: 1px;
						}
					}*/
					.each_wrap{
						transition:0.5s all ease-in-out;
						display: inline-block;
						height: 100%;
						padding: 9px 16px;
						cursor: pointer;
						background: #fff;
						border: 1px solid @aqua;
						color: @aqua;
						border-left:0px;
						.count{
							font-size: 8px;
							width: 14px;
							height: 14px;
							position: absolute;
							text-align: center;
							font-weight: bold;
							top: 4px;
							right: 14px;
							border-radius: 50%;
							background: #666;
							line-height: 0px;
							padding-top: 7px;
							color: #fff;
						}
						.name{
							display: none;
							font-size: 11px;
							padding-left: 8px;
							position: relative;
							top: 0px;
							font-weight: 600;
							text-transform: uppercase;
						}
						.fa-bell{
							position: relative;
						}
						i{
							font-size: 20px;
						}
						&:hover{
							background: @aqua;
							color: #fff;
							padding: 8.5px 16px!important;
							.name{
								display: inline-block;
							}
							.count{
								display: none;
							}
						}
					}
					.slimScrollDiv{
						display: none;
						&:hover{
							display: block;
						}
					}
					.sub_list_extras{
						z-index: 100000;
						position: absolute;
						display: none;
						top: 42px;
						z-index: 1000;
						right: -20%;
						width: 200px;
						/*background: rgba(0,0,0,0.01);*/
						/*padding-top: 5px;*/
						box-shadow: @panel_shadow;
						li{
							display: block;
							width: 100%;
							background: #fff;
							border-top: 4px solid @bg_base;
							.extras_drop_child{
								cursor: pointer;
								width: 100%;
								display: block;
								transition:0.5s;
								color:@aqua;
								border:1px solid @aqua;
								&:hover{
									background: @aqua;
									color: #fff;
								}
								i{
									width: 40px;
									height: 40px;
									text-align: center;
									font-size: 18px;
									padding-top: 9px;
									background: #fff;
									color: @aqua;
								}
								.name{
									text-transform: uppercase;
									font-size: 11px;
									padding-left: 8px;
									font-weight: 600;
									display: inline-block;
								/*	width: 155px;*/
								}
							}
							/*.extras_one{
								i{
									background: #fff;
									color: @extras_one;
								}
								transition:0.5s;
								color:@extras_one;
								border:1px solid @extras_one;
								&:hover{
									background: @extras_one;
									color: #fff;
								}
							}
							.extras_two{
								i{
									background: @extras_two;
									color: #fff;
								}
								color: @extras_two;
								border:1px solid @extras_two;

								&:hover{
									background: @extras_two;
									color: #fff;
								}
							}*/
						}
						&:before{
							content:'';
							width: 0;
							height: 0;
							position: absolute;
							top: -8px;
							z-index: 30;
							left: 57%;
							border-left: 7px solid transparent;
							border-right: 7px solid transparent;
							border-bottom: 8px solid #fff;
						}
					}
					.sub_list{
						display: none;
						margin: 0px;
						padding: 0px;
						position: absolute;
						top: 42px;
						right: -70%;
						border:@stroke_color;
						height: 400px;
						width: 300px;
						z-index: 3000000;
						background: @panel_bg;
						box-shadow: @panel_shadow;
						padding: 5px;
						padding-right: 10px;
						li{
							list-style: none;
							display: block;
							/*margin-bottom: 2px;*/
							/*margin-top: 3px;*/
							border-top: 3px solid @panel_bg!important;
							border-bottom:2px solid @panel_bg!important;
							line-height: 18px;
							background: #fff;
							width: 100%;
							color: @font_color;
							cursor: pointer;
							font-size: 12px;
							&:last-child{
								margin-left: 0px;
							}
							&:hover{
								background: @border_red;
								color: #fff!important;
								.name{
									color: #fff!important;
								}
								.project{
									color: #fff!important;
								}
							}
							.ticket{
								padding: 8px;
								display: table;
								width: 100%;
								border:1px solid @stroke_color;

								img{
									display: table-cell;
									width: 32px;
									background: #fff;
									height: 32px;
									vertical-align: top;
									border-radius: 50%;
									padding: 2px;
									margin-right: 5px;
									border:1px solid @stroke_color;
								}
								.description{
									display: table-cell;
									vertical-align: top;
									padding-top: 2px;
									.name{
										color: @border_red;
										font-weight: 600;
									}
									.project{
										color: @heading_color;
										font-weight: 600;
									}
									.time{
										display: block;
										font-size: 11px;
									}
								}
							}
						}
						&:before{
							content:'';
							width: 0;
							height: 0;
							position: absolute;
							top: -8px;
							z-index: 30;
							left: 38%;
							border-left: 7px solid transparent;
							border-right: 7px solid transparent;
							border-bottom: 8px solid #fff;
						}
					}
					/*.child_logo{
						background: #000;
						color: #00c1a4;
						border:1px solid @menu_bg_one;
						&:hover{
							color: @menu_bg_one!important;
						}
					}
					.child_one{
						background: @menu_bg_one;
						color: #fff;
						border:1px solid @menu_bg_one;
						&:hover{
							color: @menu_bg_one!important;
						}
					}
					.child_logo{
						background: #000;
						color: #00c1a4;
						border:1px solid #000;
						&:hover{
							color: #000 !important;
						}
					}
					.child_project{
						background: #00c1a4;
						color: #fff;
						border:1px solid #00c1a4;
						&:hover{
							color: #00c1a4;
						}
					}
					.child_two{
						background: @menu_bg_two;
						color: #fff;
						border:1px solid @menu_bg_two;
						&:hover{
							color: @menu_bg_two!important;
						}
					}
					.notification{
						background: @menu_right_two;
						color: #fff;
						border:1px solid @menu_right_two;
						&:hover{
							color: @menu_right_two;
						}
					}
					.logout{
						background: @menu_right_one;
						color: #fff;
						border:1px solid @menu_right_one;
						&:hover{
							color: @menu_right_one;
						}
					}
					.extras{
						background: @menu_right_three;
						color: #fff;
						border:1px solid @menu_right_three;
						&:hover{
							color: @menu_right_three;
						}
					}
					.child_three{
						background: @menu_bg_three;
						color: #fff;
						border:1px solid @menu_bg_three;
						&:hover{
							color: @menu_bg_three!important;
						}
					}
					.child_four{
						background: @menu_bg_four;
						color: #fff;
						border:1px solid @menu_bg_four;
						&:hover{
							color: @menu_bg_four!important;
						}
					}
					.child_five{
						background: @menu_bg_five;
						color: #fff;
						border:1px solid @menu_bg_five;
						&:hover{
							color: @menu_bg_five!important;
						}
					}
					.child_six{
						background: @menu_bg_six;
						color: #fff;
						border:1px solid @menu_bg_six;
						&:hover{
							color: @menu_bg_six!important;
						}
					}*/
				}
			}
		}
		.name_img_wrap{
			.name{
				font-size: 12px;
				margin: 0px 10px 0px 20px;
				color: @heading_color;
				position: relative;
				top: -18px;
				span{
					font-weight: 500;
				}
			}
			img{
				width: auto;
				vertical-align: top;
				height:45px
			}
		}
	}
}
.active_li_drop{
	.each_wrap{
		background: @aqua!important;
		color: #fff!important;
		.name{
			display: inline-block!important;
		}
		.count{
			display: none;
		}
	}
}
#vertical_menu{
	position: fixed;
	height:100%;
	width: 60px;
	top: 45px;
	background: #fff;
	ul{
		margin: 0px;
		padding: 0px;
		li{
			list-style: none;
			padding: 0px;
			margin: 0px;
			.v_menu_item{
				display: block;
				padding: 10px 0px;
				border-bottom: 1px solid @stroke_color;
				text-align: center;
				i{
					display: block;
					margin-bottom: 0px;
					font-size: 18px;
				}
				.name{
					display: block;
					clear: both;
					font-size: 10px;
					text-transform: capitalize;
				}
			}
		}
	}
}
#base_content_vertical{
	margin-top: 45px;
	margin-left: 60px;
	padding: 1%;
}
#base_content{
	margin-top: 45px;
	padding: 2% 4%;
}
/* base */
/* create project */
.create_project{
	background: url(../img/create-project-bg.png);
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	display: table;
	.content_box{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.title{
			width: 60%;
			margin: 0px auto;
			h4{
				font-size: 26px;
				color:@heading_color;
				font-weight: bold;
				margin-top: 0px;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.tag{
				line-height: 19px;
				width: 76%;
				margin: 0px auto;
				font-size:13px;
				color: @heading_tag_create;
			}
			
		}
		.panel_box{
			width: 43%;
			margin: 0px auto;
			margin-top:15px;
			background: #fff;
			text-align: left;
			padding: 15px;
			position:relative;
			a.action{
				position:absolute;
				top:-6px;
				right:6px;
				font-size:13px;
				display:inline-block;
				width:18px;
				height:18px;
				padding-bottom:20px;
				color:#fff !important;
				text-align:center;		
				background:#ff8a84;
			}
			.user-pic-block{
				width:180px;
				margin:0px auto;
				padding:10px 5px;
				text-align:center;
				span{
					display: block;
				    font-size: 13px;
				    line-height: 18px;
				}
				.user-picture{
					margin-bottom:15px;
					border:1px solid #ccc;
					display:inline-block;
					padding:10px;
					img{
						width:145px;
						height:auto;
					}
				}
				.pic-btn{
					margin:15px 0px;
				}
			}
			label{
				font-weight: 600;
				text-transform: uppercase;
				color: @heading_color;
				margin-bottom: 5px;
				font-size:13px;
			}
			.help{
				font-size: 12px;
				color: @font_color;
				margin-top: 2px;
				margin-bottom: 15px;
			}
			.input{
				height: 36px;
				box-shadow: none;
				padding: 2px 5px;
				border:1px solid @stroke_color;
				outline: none;
				box-shadow: none;
				width: 100%;
			}
			.textarea{
				.input;
				height: 120px!important;
				border-radius:0px;
			}
			button{
				padding: 7px;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: bold;
				width: 100%;
				box-shadow: none;
				border-radius: 0px;
				color: #fff;
				border:1px solid @pgreen;
				background: @pgreen;
			}
		}
	}
}
/* create project */
/* list of projects */
.list_of_projects{
	.title{
		background: #000;
		.center{
			.left{
				background: #000;
				float: left;
				color: @green;
				font-weight: bold;
				padding: 10px 30px;
				text-transform: uppercase;
			}
			.right{
				float: right;
				button{
					background: @green;
					color: #fff;
					text-transform: uppercase;
					font-size: 11px;
					font-weight: bold;
					padding: 10.5px 30px;
					border:none;
					border-radius: 0px;
					box-shadow: none;
				}
			}
			span{
				position: relative;
				top: 10px;
				font-size:13px;
			}
			height: 43px;
			background: lighten(#000,15%);
			color: #fff;
			text-align: center;
		}
	}
	.table_div{
		background: #fff;
		table{
			tbody{
				tr{
					cursor: pointer;
					td{
						padding: 10px;
						padding-top: 20px;
						line-height: 19px;
						img{
							width: 50px;
							height: 50px;
							background: #fff;
							padding: 2px;
							border-radius: 50%;
							vertical-align: top;
							border:1px solid @stroke_color;
						}
						p{
							color: @font_color;
							font-size:13px;
							line-height:22px;
						}
						h2{
							font-size: 14px;
							font-weight: bold;
							color: @heading_color;
							margin-top: 8px;
							margin-bottom: 12px;
						}
						&:first-child{
							text-align: center;
						}
						&:last-child{
							vertical-align: middle;
							p{
								text-align: right;
								color: @blue;
								line-height: 15px;
								text-transform: capitalize;
								font-weight: 400;
								font-size:13px;

							}
						}
					}
				}
			}
		}
	}
}
/* list of projects */
/* project_description */
.project_description{
	.about_project_wrap{
		padding: 0;
		.title{
			margin-bottom: 30px;
			span{
				font-size: 15x;
				font-weight: 600;
				text-transform: uppercase;
				color: @green;
				background: #000;
				padding: 14px 28px;
			}
			.header_button_wrap{
				float: right;
				background: none;
				padding: 0px;
				padding-right: 15px;
				.header_button{
					cursor: pointer;
					color: #fff;
					background: @green;
					padding: 10px 28px;
					font-size: 11px;
				}
			}
		}
		.mile_stone_wrap{
			.mile_stone_each{
				padding-left: 0px;
				.milestone_container{
					display: block;
					padding: 10px;
					background: #fff;
					border:1px solid @stroke_color;
					cursor: pointer;
					&:hover{
						box-shadow: @panel_shadow;
					}
					.title{
						display: block;
						color: @orange;
						font-weight: 600;
						text-transform: capitalize;
						text-align: right;
						padding-bottom: 10px;
						border-bottom:1px dashed @stroke_color;
						margin-bottom: 15px;
					}
					.start_date{
						.end_date;
					}
					.stories{
						.end_date;
					}
					.end_date{
						display: block;
						padding-bottom: 5px;
						i{
							padding-right: 3px;
							/*color: @blue;*/
							color: #ddd;
						}
						/*.yellow{
							color: @menu_bg_one;
						}
						.green{
							color: @menu_bg_four;
						}*/
						.label{
							font-weight: 600;
							color: #666;
							font-size: 12px;
							text-align: left;
							padding-left: 0px;
							&:after{
								content:':';
								padding-right: 8px;
								padding-left: 5px;
							}
						}
					}
					.created_by{
						.end_date;
					}
				}
			}
		}
		.profile-pic-count{
			margin-bottom:20px;
			.content{
				padding: 0px;
				color: @font_color;
				display:table-cell;
				div{
					margin-bottom: 30px;
				}
				.profile-content{
					margin-bottom:20px;
					span{
						display:block;
					}
					.title-desig{
						width:33%;
						float:left;
						margin-bottom:20px;
						.title{
							font-weight:bold;
							font-size:17px;
							margin-bottom:10px;
							text-transform:uppercase;
						}
						.desig{
							font-weight:400;
							font-size:14px;
							text-transform:uppercase;
						}
					}
				}
				.desc{	
						display:block;
						font-size:13px;
						line-height:22px;
						margin-top:15px;
						text-align: justify;
					}
			}
		}
		.blue{
			border-left: 3px solid @blue;
		}
		.orange{
			border-left:3px solid @orange;
		}
		.ticket{
			display: table;
			width: 99%;
			background: #fff;
			padding:6px;
			color: @font_color;
			margin-bottom: 8px;
			img{
				display: table-cell;
				width: 45px;
				height: 45px;
				padding: 2px;
				border:1px solid @stroke_color;
				border-radius: 50%;
				margin-right: 15px;
			}
			.description{
				display: table-cell;
				text-align: left;
				width: 100%;
				vertical-align: top;
				padding-top: 5px;
				color: @font_color;
				font-size:13px;
				.name{
					text-transform: uppercase;
					color: @heading_color;
					font-weight: 600;
					font-size: 12px;
				}
				.project_name{
					color: @blue;
					font-weight: 600;
				}
				.designation_time{
					font-weight: 500;
					display: block;
					color: lighten(@font_color,10%);
					font-size: 11px;
					margin-top:5px;
				}
			}
		}
		.logo{
			padding-right: 0px;
			padding: 0px 10px;
			img{
				max-width: 100%;
				height: auto;
				border:3px solid #E3E6E8;
			}
		}
	}
	.team{
		.team-block{
			margin-bottom:40px;
		}
		.about_project_wrap;
		padding-left: 30px;
		.ticket{
			padding: 5px;
			line-height: 15px;
			img{
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
		}
		.project-list{
			.ticket{
				.designation_time{
					font-weight:normal;
					font-size:13px;
					padding:6px 0px;
					line-height:22px;
				}
			}
		}
	}
}
/* project_description */


/* box-content starts here */
#box-content{
	margin-top:42px;
	/*nav-left starts here */
		.nav-left{
			position:fixed;
			background:#2e404c;
			height:100%;
			width:250px;
		}
	/*nav-left ends here */
	
	/* right container starts hetre */
		.right-container{
			margin-left:250px;
			padding:15px;
			.content-panel{
				/*color box starts here */
					.color-box{
						td{
							vertical-align:middle;
							.form-control{
								  border: none;
								  box-shadow: none;
								  background-color: inherit;
								  margin-top:8px;
							}
							.input-group-addon{
								  border: none;
								  box-shadow: none;
								  background-color: inherit;
							}
						}
						.actions{
								.edit{
									background:#669900;
									border-radius:3px;
									color:#fff;
									display:inline-block;
									padding:2px 4px;
								}
								.delete{
									background:#ff8a84;
									border-radius:3px;
									color:#fff;
									display:inline-block;
									padding:2px 4px;
								}
							}
					}
				/*color box ends here */
				width:100%;
				border-radius:0px;
				border:none;
				margin:0px auto;
				.content_box{
					.title{
						  font-size: 26px;
						  color: #333436;
						  font-weight: bold;
						  margin-top: 0px;
						  margin-bottom: 10px;
						  text-transform: uppercase;
						  text-align:center;
						  .new{
						  	a{
							  color: #fff;
							  border: 1px solid #7bb344;
							  background: #7bb344;	
							  display:inline-block;
							  font-size: 13px;
						 	  font-weight: bold;
							  padding:3px 15px;
							  margin-top:10px;
							}
						  }
						  h4{
						  	font-weight:bold;
							span{
								color:#7bb344;
							}
						  }
						  .tag{
						  	  line-height: 19px;
							  margin: 0px auto;
							  font-size: 13px;
							  color: #798f99;
							  font-weight:normal;
							  text-transform:none;
							  text-align:center;
						  }	
					}
					.panel_box{
						position:relative;
						label{
							  font-weight: 600;
							  text-transform: uppercase;
							  color: #333436;
							  margin-bottom: 5px;
							  font-size: 13px;
							  display:block;
						}
						.form-control{
							  height: 36px;
							  padding: 2px 5px;
							  border: 1px solid #e1e1e1;
							  outline: none;
							  box-shadow: none;
							  width: 100%;
							  border-radius:0px;
						}
						.help{
							 font-size: 12px;
							  color: #656f75;
							  margin-top: 2px;
							  margin-bottom: 15px;
						}
						.textarea{
							.form-control;
							height: 120px!important;
							border-radius:0px;
						}
						button{
						  padding: 7px;
						  text-transform: uppercase;
						  font-size: 13px;
						  font-weight: bold;
						  width: 100%;
						  box-shadow: none;
						  border-radius: 0px;
						  color: #fff;
						  border: 1px solid #7bb344;
						  background: #7bb344;
						}
						.del-project{
							a{
								color:#404aa6;
								font-size:13px;
								dipslay:block;
								margin:6px 0px;
							}
						}
					}
				}
			}
			.content-panel-extra{
				width:100%;
				.member-box{
					.user-assign{
						  background: #999999;
  						  color: #fff;
						  display: inline-block;
						  padding: 4px 7px;
						  font-size: 13px;
						  i{
						  	display:inline-block;
							margin:0px 5px;
						  }
					}
					.img-text{
						display:table-row;
						.user-pic{
							display:table-cell;
							width:45px;
							vertical-align:middle;
							img{
								width:30px;
								height:30px;
								border:1px solid #eee;
							}
						}
						.title-email{
							display:table-cell;
							vertical-align:middle;
							span{
								display:block;
								text-align:left;
							}
							.title{
								color:#999999;
								font-weight:600;
								font-size:13px;
								margin-bottom:5px;
							}
							.email{
								color:#333;
								font-weight:400;
								font-size:13px;
							}
						}
					}
					.actions{
						.edit{
							background:#669900;
							border-radius:3px;
							color:#fff;
							display:inline-block;
							padding:2px 4px;
						}
						.delete{
							  background: #ff8a84;
							  border-radius: 3px;
							  color: #fff;
							  display: inline-block;
							  padding: 2px 4px;
						}
					}
					.status{
						display:inline-block;
						padding:4px 7px;
						font-size:13px;
						i{
							display:inline-block;
							margin-left:5px;
						}
					}
					.active-1{
						background:#ff9900;
						color:#fff;
					}
					.pending{
						background:#999999;
						color:#fff;
					}
					.form-control{
						border-radius:0px;
						box-shadow:none;
					}
				}
			}
		}
	/* right container ends here */
}
/* modal styles starts here */
.modal{
	border:none;
	box-shadow:none;
	top:40px;
	.modal-content{
		background:#7bb344;
		border:none;
		border-radius:0px;
		box-shadow:none;
		text-align:left;
		.modal-header{
			color:#fff;
			border:none;
			h4{
				font-size:14px;
			}
		}
			.modal-body{
				padding:0px 15px 10px 15px;
				label{
					  font-weight: 600;
					  text-transform: uppercase;
					  color: #fff;
					  margin-bottom: 5px;
					  font-size: 13px;
					  display:block;
				}
				.form-control{
					  height: 36px;
					  padding: 2px 5px;
					  border: none;
					  outline: none;
					  box-shadow: none;
					  width: 100%;
					  border-radius:0px;
				}
				.help{
					  font-size: 12px;
					  color: #656f75;
					  margin-top: 2px;
					  margin-bottom: 15px;
					  font-weight:normal;
					  color:#fff;
					  text-transform:none;
				}
			}
			.modal-footer{
				border:none;
				text-align:left;
				padding:0px 15px 10px 15px;
				.btn-primary{
					  color: #FFFFFF;
					  background-color: #58832E;
					  border: none;
					  font-size: 12px;
					  font-weight: bold;
					  text-transform: uppercase;
					  border-radius: 0px;
				}
			}
	}
}
/* modal styles ends here */

/* box-content ends here */
/* contacts div height */
.height_wrap{
	height: 400px;
}
/* contacts div height */