{% load project_tags %}

{% for task in tasks %}
<a href="{% url 'project:task_details' slug milestone.slug task.id %}">
<li id="{{task.id}}">
  <span class="task_wrap">
  <span class='heading'>
     {{ task.name }}
  </span>
  <span class='desc'>
     {{ task.description }}
  </span>
  <span class='count'>
  {{task|count_comments}}
  </span>
  </span>
</li>                                    
</a>
{% endfor %}

{% if tasks.has_next %}
<input type="hidden" name="page_num" value="{{tasks.next_page_number}}">
{% endif %}