{% extends 'base.html' %}
{% block content %}
<section id='base_content' class='create_project'>
    <div class="content_box">
        {% if requirement_list and requirement_list|length == 0 or  ticket_status_list and ticket_status_list|length == 0 %}
            <div class="role-alert member-warning-alert" style="width:23em;">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><span class="fa fa-warning"></span></strong>
                    Please add {% if requirement_list|length == 0 %}Requirement{% endif %}
                    {% if requirement_list|length == 0 and ticket_status_list|length == 0 %}and {% endif %}
                    {% if ticket_status_list|length == 0 %} Ticket status{% endif %} to create Task !
                </div>
            </div>
        {% endif %}
        <div class="title">
            <h4>{% if is_bug_enhancement %}Create Issue {% else %}{% if task %}Edit {% else %}Add{% endif %} Task{% endif %}</h4>
            <div class="tag">
                {% if is_bug_enhancement %}
                    An issue is a problem related to a project that is about to occur or is currently occurring. An issue must be resolved as soon as possible, otherwise it will have detrimental effects on the project.
                {% else %}
                    a task is an activity that needs to be accomplished within a defined period of time or by a deadline to work towards work-related goals
                {% endif %}
            </div>
        </div>
        <div class="panel_box">
            <form id='task_form'>
                <div class="form_group">
                    <label>Title</label>
                    <input id='task_name' name='name' type="text" class='input' value="{% if task %}{{ task.name }}{% endif %}">
                    <span id='task_name_error' class='task_err'></span>
                </div>
                {% if requirement_list %}
                <div class="form_group">
                    <label>Requirement</label>
                    <select name='requirement' class='input'>
                        {% for requirement_iter in requirement_list %}
                          <option value='{{ requirement_iter.id }}' {% if task %}{% if requirement_iter.id == task.requirement.id %} selected{% endif %}{% endif %}>{{ requirement_iter.name }}</option>
                        {% endfor %}
                    </select>
                    <span id='task_requirement_error'></span>
                </div>
                {% endif %}
                {% if ticket_status_list %}
                    <div class="form_group">
                        <label>Status</label>
                        <select name='status' class='input'>
                            {% for ticket_status_iter in ticket_status_list %}
                                <option value='{{ ticket_status_iter.id }}'>{{ ticket_status_iter.name }}</option>
                            {% endfor %}
                        </select>
                        <span id='task_status_error'></span>
                    </div>
                {% endif %}
                {% if is_bug_enhancement %}
                    <div class="form_group">
                        <label>Issue Type</label>
                        <select name='issue_type' class='input'>
                            {% for issue in issue_type %}
                                <option value='{{ issue }}'>{{ issue }}</option>
                            {% endfor %}
                        </select>
                        <span id='task_status_error'></span>
                    </div>
                {% endif %}
                <div class="form_group">
                    <label>Finished Date</label>
                    <input id='task_finished_date' name='finished_date' type="text" class='input' value="{{ task.finished_date|date:"Y-m-d" }}">
                    <span id='task_finished_date_error' class='task_err'></span>
                </div>
                <div class="form_group">
                    <label>Assign to</label>
                    <select name='assigned_to' class='select2 input'>
                        {% for assigned_to_iter in assigned_to_list %}
                           <option value='{{ assigned_to_iter.id }}'>{{ assigned_to_iter.email }}</option>
                        {% endfor %}
                    </select>
                    <span id='task_assigned_to_error'></span>
                </div>
                <div class="form_group">
                    <label>Description</label>
                    <textarea id='task_description' name='description' class="form-control textarea">{{ task.description }}</textarea>
                    <span id='task_description_error'></span>
                </div>
                <br clear="clearfixall" />
                <button id='task_save'><i class="fa fa-save"></i> Save</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js_links %}
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}
{% block extra_js %}
<script>
    {% if requirement_list or  ticket_status_list %}
        {% if requirement_list|length == 0 %}
            setTimeout(function(){ window.location = "{% url 'project:requirement_create' slug milestone.slug %}"; }, 2500);
        {% elif ticket_status_list|length == 0 %}
            setTimeout(function(){ window.location = "{% url 'project:ticket_status' slug  %}"; }, 2500);
        {% endif %}
    {% endif %}

$(function() {
    $("#task_finished_date").datepicker();
});
</script>
<script>
$(function() {
    $("#task_finished_date").datepicker();
    $('.select2').select2();
});
</script>
<script>
function display_datepicker() {
    $("#task_finished_date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        minDate: new Date(),
    });
};
display_datepicker()
</script>
<script>
$('#task_save').click(function(event) {
    event.preventDefault()
    $.post('', $('#task_form').serialize(), function(data) {
        $('.task_err').text('')
        if (data['error'] === true) {
            for (var key in data['form_errors']) {
                $('#task_' + key + '_error').text('').append(data['form_errors'][key])
                console.log(key);
                console.log(data['form_errors'][key])
            }
        }else {
            window.location = "{% if milestone %}{% url 'project:taskboard' slug milestone.slug %}{% endif %}"
        }
    });
});
{% if requirement_list %}
    {% if requirement_list|length == 0 %}
        window.setTimeout(function(){
            window.location.href = "{% url 'project:requirement_create' slug milestone.slug %}";
        }, 3000);
    {% endif %}
{% endif %}
</script>
{% endblock %}
