{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block content %}
<section id='base_content'>
    <div class="project_description">
        <!-- about project -->
        <div class="col-md-9 about_project_wrap">
          <div class="title">
            <span>{{task.name}}</span>
          {% if task.status.is_final %}
            <span class="header_button_wrap">
                <a href="{% url 'project:create_issue' slug task.id %}"><span class="header_button"><i class="fa fa-plus"></i> create Issue</span></a>
            </span>
          {% endif %}
          </div>
          <div class="profile-pic-count">
            <div class="col-md-12 content">
              <div class="profile-content">
                <div class="task_details">
                  <b>Created By : </b>
                  {{ task.created_by.username|title }} ,
                  <em> {{task.created_date|date:"d F,Y \a\t P"}}</em>
                </div>
                <span class="desc">
                    {% if task.description %}
                        <b>Description :</b><br />
                        {{task.description}}
                    {% else %}
                        <center>There is no description was provided for this task.</center>
                    {% endif %}
                </span>
                <div class="attachments_wrap">
                  {% for attachment in task.attachments.all %}
                  <div class="attachment_each">
                    <i class='fa fa-paperclip'></i>
                    {{attachment.attached_file}}
                    <a href="{{attachment.attached_file.url}}" target="_blank">
                      <span class='view_link' data-toggle="modal" >
                      <i class='fa fa-eye'></i>
                      View
                      </span>
                    </a>
                    <a href="{{attachment.attached_file.url}}" download>
                      <span class='download_link'>
                      <i class='fa fa-download'></i>
                      Download
                      </span>
                    </a>
                    <span class='delete_link'>
                      <a href="/project/{{slug}}/task/{{task.id}}/attachment/delete/{{attachment.id}}/">
                        <i class='fa fa-trash'></i>
                        Delete
                      </a>
                    </span>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <!-- comments -->
          <div class="comments_wrap_div">
            <!-- your comment -->
            <form action="" method="post" enctype='multipart/form-data' id="comment_form">
              {% csrf_token %}
              <div class="your_comment">
                <textarea name="comment" class="comment_text"></textarea>
                <p><span name="error"></span></p>
                <span class="comment_attachment attachment">
                  <i class='fa fa-paperclip'></i>
                  Attach a file
                </span>
              <span class="attachment_file                                                                                                                                                                                                              "></span>
                 <!--<span  name="file_choosen" > selected file here</span>-->
                <input name="file" type="file" value="" class="comment_file" style="display:none;" />

                <button class='comment_btn' type="submit">Comment <i class="fa fa-comment"></i> </button>
                  <p class="comment_preview"></p>
              </div>
            </form>
            <!--/ your comment -->
            <!--/ main comment -->
          {% for comment in task|level1comments %}
            <div class="comment_each">
              <div class="img_div">
                <div class="img_wrap">
                  {% if comment.commented_by.profile_pic%}
                    <img src='{{comment.commented_by.profile_pic.url}}'>
                  {% else %}
                    <img src='{% static "img/user-pic.jpg" %}'>
                  {% endif %}
                </div>
                <div class="name" id="{{comment.id}}">
                  {{comment.commented_by}}
                  <div class="designation">( {{ comment.commented_by|get_user_Role:project }} )</div>
                  <div class="posted_details">{{comment.created|date:"d F,Y \a\t P"}}</div>
                </div>
              </div>
              <div class="comment_text">
                      <p class="your_comment">{{comment.comment|safe}}</p>
                           <div class="edit_comment_text">
                               <form action="{% url 'project:task_comment_edit' slug %}" method="post">
                                   {% csrf_token %}
                                   <input type="hidden" name="slug" value="{{ slug }}">
                                   <input type="hidden" name="task_id" value="{{ task.id }}">
                                   <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                   <textarea name="comment">{{comment.comment}}</textarea>
                                   <button class="save_comment"><i class="fa fa-floppy-o"></i>Save</button>
                                   <button class="cancel_comment"><i class="fa fa-close"></i>Cancel</button>
                               </form>
                               <div class="clearfix"></div>
                           </div>

                {% for attachment in comment.attachments.all %}
                  <div class="attachments_wrap">
                    <div class="attachment_each">
                      <i class='fa fa-paperclip'></i>
                      {{attachment.filename}}
                      <a href="{{attachment.attached_file.url}}" target="_blank">
                        <span class='view_link' data-toggle="modal" >
                          <i class='fa fa-eye'></i>
                          View
                        </span>
                      </a>
                      <a href="{{attachment.attached_file.url}}" download>
                        <span class='download_link'>
                          <i class='fa fa-download'></i>
                          Download
                        </span>
                      </a>
                      <span class='delete_link'>
                        <a href="/project/{{slug}}/task/{{task.id}}/attachment/delete/{{attachment.id}}/">
                          <i class='fa fa-trash'></i>
                          Delete
                        </a>
                      </span>
                    </div>
                  </div>
                {% endfor %}
                <div class="reply_button">
                  <button class="reply"><i class='fa fa-reply'></i>Reply</button>

                  {% if comment.commented_by == request.user %}
                      <a href="#">
                          <button class="edit"><i class="fa fa-edit"></i>Edit</button>
                      </a>
                      <a href="{% url 'project:delete_task_comment' slug comment.id %}">
                          <button class="delete"><i class="fa fa-trash"></i>Delete</button>
                      </a>
                  {% endif %}

                </div>
              </div>
            </div>
            {% for sub_comment in comment.comment_parent.all %}
              {% for comment in sub_comment|sub_comments %}
            <!-- sub comment -->
                <div class="sub_comment">
                  <div class="comment_each">
                    <div class="img_div">
                      <div class="img_wrap">
                        {% if comment.commented_by.profile_pic%}
                          <img src='{{comment.commented_by.profile_pic.url}}'>
                        {% else %}
                          <img src='{% static "img/user-pic.jpg" %}'>
                        {% endif %}
                      </div>
                      <div class="name" id="{{comment.id}}">
                        {{comment.commented_by}}
                        <div class="designation">( {{ comment.commented_by|get_user_Role:project }} )</div>
                        <div class="posted_details">{{comment.created|date:"d F,Y \a\t P"}}</div>
                      </div>
                    </div>
                    <div class="comment_text">
                      <p class="your_comment">{{comment.comment|safe}}</p>
                           <div class="edit_comment_text">
                               <form action="{% url 'project:task_comment_edit' slug %}" method="post">
                                   {% csrf_token %}
                                   <input type="hidden" name="slug" value="{{ slug }}">
                                   <input type="hidden" name="task_id" value="{{ task.id }}">
                                   <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                   <textarea name="comment">{{comment.comment}}</textarea>
                                   <button class="save_comment"><i class="fa fa-floppy-o"></i>Save</button>
                                   <button class="cancel_comment"><i class="fa fa-close"></i>Cancel</button>
                               </form>
                               <div class="clearfix"></div>
                           </div>

                      {% for attachment in comment.attachments.all %}
                          <div class="attachments_wrap">
                            <div class="attachment_each">
                              <i class='fa fa-paperclip'></i>
                              {{attachment}}
                              <a href="{{attachment.attached_file.url}}" target="_blank"><span class='view_link' data-toggle="modal" ><i class='fa fa-eye'></i>View</span></a>
                              <a href="{{attachment.attached_file.url}}" download>
                                <span class='download_link'>
                                  <i class='fa fa-download'></i>
                                  Download
                                </span>
                              </a>
                              <span class='delete_link'>
                                <a href="/project/{{slug}}/task/{{task.id}}/attachment/delete/{{attachment.id}}/">
                                  <i class='fa fa-trash'></i>
                                  Delete
                                </a>
                              </span>
                            </div>
                          </div>
                      {% endfor %}
                        <div class="reply_button">
                          <button class="reply"><i class='fa fa-reply'></i>Reply</button>

                          {% if comment.commented_by == request.user %}
                              <a href="#">
                                  <button class="edit"><i class="fa fa-edit"></i>Edit</button>
                              </a>
                              <a href="{% url 'project:delete_task_comment' slug comment.id %}">
                                  <button class="delete"><i class="fa fa-trash"></i>Delete</button>
                              </a>
                          {% endif %}

                        </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
            <!--/ sub comment -->
          {% endfor %}
            <!-- main comment -->
          </div>
          <!--/ comments -->
        </div>
        <!--/ about project -->
        <!-- team -->
        <div class="col-md-3 team">
          <div class="title">
            <span>team members</span>
          </div>
          <!-- ticket -->
          <div class="height_wrap">
            {% for team_member in task|Team_mem %}
            <span class='ticket orange'>
                {%if team_member.profile_pic %}
                    <img src="{{ team_member.profile_pic.url }}">
                {% else %}
                    <img src="{% static 'img/user-pic.jpg' %}">
                {% endif%}
                <span class='description'>
                    <span class='name'>
                        {% if team_member.first_name %}{{ team_member.first_name }}{% else %}{{ team_member.username }}{% endif %}
                    </span>
                    {% if team_member.pietrack_role == 'admin' %} (<i class="fa fa-user"></i> admin){% endif %}
                    <span class='designation_time'>{{team_member|get_user_Role:project}}</span>
                </span>
                <!-- for active user indication -->
                {% if team_member.username == request.user.username %}
                    <span class="active-user"><i class="fa fa-check-circle"></i></span>
                {% endif %}
                <!-- // -->
            </span>
            {% endfor %}
          </div>
            <!--/ ticket -->
        </div>
          <!--/ team -->
     </div>
</section>
{%endblock%}
{% block extra_js %}
    <script type="text/javascript">
        $('.comments_wrap_div').on('click','.comment_text .edit',function(e){
        /*$('.comment_text .edit').click(function(e){*/
            e.preventDefault();
            var comment=$(this).closest('div').siblings('p');
            $(this).closest('div').hide();
            comment.hide().siblings('.edit_comment_text').show().children('textarea').text(comment.text());
        });
        $('.comments_wrap_div').on('click','.save_comment',function(e){
        /*$('.save_comment').click(function(e){*/
            e.preventDefault();
            $(this).parent().submit();
            /*var textarea_comment=$(this).parent('.edit_comment_text');
            textarea_comment.hide().siblings('.your_comment').show().text(textarea_comment.children('textarea').val());*/
        });
        $('.comments_wrap_div').on('click','.cancel_comment',function(e){
        /*$('.cancel_comment').click(function(e){*/
            e.preventDefault();
            var comment=$(this).closest('div').siblings('p');
            comment.show().siblings('.edit_comment_text').hide().siblings('div').show();

        });
    </script>
<script type="text/javascript">


  $('form#comment_form').submit(function(e) {
      var formData = new FormData($(this)[0]);
      var form = this;
      $.ajax({
          url: "/project/{{slug}}/task/{{task.id}}/comment/",
          data: formData,
          enctype: 'multipart/form-data',
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(response) {
              if (response['error']) {
                  $("form#comment_form span[name='error']").text("* "+response['errors'].comment);
              } else {
                  $(form).find('textarea').val("");
                  $(form).find('input[name="file"]').val("");
                  $('.your_comment').parent().after(response);

                  $('.attachment_file').text(' ');
              }

          }
      });
      e.preventDefault()
  });
  
  $('body').on('click', ".reply_button button.reply", function(e) {
      if ($(this).parent().parent().parent().next().find('form.comment_reply').length == 0) {
          var form_data = $('form#comment_form').html();
          var form = '<form method="post" action="." enctype="multipart/form-data" class="comment_reply">' + form_data + '</form>';
          var reply = $($.parseHTML('<div class="sub_comment"><div class="pull-right"><a href="#" class="comment_close"><span class="close_comment"><i class="fa fa-close"></i></span></a></div></div>'));
          var html = reply.append(form);
          html.attr('id', 'reply_to_parent');
          $(html).find('span[name="error"]').text("");
          $(this).parent().parent().parent().after(html);
          html.find('.attachment_file').text(' ');
          $('.comment_file').on("change", function(){
                var file_name = $(this).val();
                $(this).prev('.attachment_file').append(" <i class='fa fa-photo'></i> "+file_name.substring(file_name.lastIndexOf('\\')+1));
            });
           $('.sub_comment .comment_close').on('click', function(e){
              e.preventDefault();
              $(this).parent().parent().remove();
          });
      }
  });

  $('body').on('click', '.comment_attachment', function() {
      $(this).parent().find('.comment_file').click();
  });
  
  $('body').on('submit', 'form.comment_reply', function(e) {
      var id = $(this).parent().prev().find('div.name').attr('id');
      var form = $(this);
      var formData = new FormData($(this)[0]);
      $.ajax({
          url: "/project/{{slug}}/task/{{task.id}}/comment/?parent_id=" + id,
          data: formData,
          enctype: 'multipart/form-data',
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(response) {
              $(this).find("span[name='error']").text(response);
              if (response['error']) {
                  $(form).find("span[name='error']").text("* "+response['errors'].comment)
              } else {
                  if ($(form).parent().parent().hasClass('sub_comment')) {
                      $(form).parent().after(response)
                  } else {
                      var reply = $($.parseHTML('<div class="sub_comment"></div>'));
                      $(form).parent().after(reply.append(response))
                  }
                  $(form).remove();
                  $('.close_comment').remove();
              }
          }
      });
  
      e.preventDefault();

  });
  
  $('body').on('click', '.delete_link a', function(e) {
      url = $(this).attr('href');
      parent = this;
      $.get(url, function(response) {
          if (response) {
              $(parent).closest('.attachment_each').remove();
          }
      });
      e.preventDefault()
  });

/* for displaying the input element file */
    $('.comment_file').on("change", function(){
        var file_name = $(this).val();
        $('.attachment_file').append("<i class='fa fa-photo'></i> "+file_name.substring(file_name.lastIndexOf('\\')+1));
    });


</script>
{% endblock %}