{% extends 'base.html' %} 
{% load compress %}
{% block content %}
  <section id='base_content' class='create_project'>
    <div class="content_box">
        <div class="title">
            <h4>New Member</h4>
            <div class="tag">
                Compellingly reintermediate premier materials for client-centered markets.for client-centered markets.
            </div>
        </div>
        <form id='id_form_append'>
            <div id='id_div_append'>
                <div id='id_div_add0' class="panel_box">
                    <div class="form_group">
                        <label>Email Address</label>
                        <input name='email' type="text" class='input'>
                        <span id='id_span_error_email0' class='class_span0'></span>
                    </div>
                    <div class="form_group">
                        <label>Member Designation</label>
                        <select name='designation' type="text" class='input'>
                            <option>UX</option>
                            <option>Front end Developer</option>
                        </select>
                        <span></span>
                    </div>
                    <a class="action" href="#">
                        <i id='id_i_fa_add' class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <form id='id_form_description'>
            <div class="panel_box">
                <div class="form_group">
                    <label>Description</label>
                    <textarea id='id_textarea_description' name='description' class="textarea"></textarea>
                    <span id='id_span_description_error'></span>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <div id='id_div_create_member' class="panel_box">
            <button id='id_button_create_member'>create memeber</button>
            <div class="help">
                If users are already registered on pietrack, they will be added automatically. Otherwise they will receive an invitation.
            </div>
        </div>
    </div>
  </section>
{% endblock %}
{% block extra_js %}
    <script>
    var id_members_array = ['id_form_add0']
    var id_form_count = 0
    var i = 0;
    $(document).ready(function() {
        $('#id_i_fa_add').click(function duplicate() {
            $('#id_i_fa_add').off('click')
            $('.fa.fa-trash').off('click')
            var original = document.getElementById('id_div_add' + i);
            var clone = original.cloneNode(true);
            $('#' + clone.id + " a i").attr('class', 'fa fa-trash')
            $('#' + clone.id + " a i").attr('id', 'id_i_fa_del' + i)
            clone.id = "id_div_add" + ++i;
            clone.querySelectorAll("[id = 'id_span_error_email" + (i - 1) + "']")[0].id = 'id_span_error_email' + i
            document.getElementById('id_form_append').appendChild(clone);
            $('#id_i_fa_add').on('click', duplicate);
            $('.fa.fa-trash').on('click', duplicate_trash)
        });
    });

    function duplicate_trash() {
        var trash_id = this.id
        var parent_trash_id = $('#' + trash_id).parents().eq(1).attr('id')
        $('#' + parent_trash_id).remove()
    }

    function display_error(error) {
        if (error) {
            return error
        }
        return ''
    }

    $('#id_button_create_member').click(function(event) {
        var id_span_array = []
        $("#id_div_append").find("span").each(function() {
            id_span_array.push(this.id);
        });
        event.preventDefault()
        var description = $('#id_textarea_description').val()
        $.post('', $('#id_form_append').serialize() + '&' + $.param({
            'description': description
        }), function(response) {
            if (response['error'] === true) {
                var span_id_array = []
                $('#id_form_append').find('span').each(function() {
                    var span_id = this.id
                    if (span_id) {
                        span_id_array.push(span_id)
                    }
                });
                for (var key in response) {
                    $('#' + span_id_array[key]).text('').append(display_error(response[key].email))
                }
            } else {
                alert('members added')
            }
        });
    });
    </script>
{% endblock %}
