{% extends 'settings/base.html' %}
{% load project_tags %}
{% load static %}
{% load staticfiles %}
{% block settings_content %}

<!-- right container starts here-->
    <div class="right-container">
        <div class="panel panel-default content-panel">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box">
                    <div class="title">
                        <h4>{{ project.name }} GitLab Settings</h4>
                        <div class="tag">
                          For project settings of GitLab
                        </div>
                    </div>

                    <form method="post" id="gitlab_settings">
                        {%csrf_token%}

                        <div class="panel_box">
                            <div class="form_group">
                                <label for="id_secret_key">Secret_key</label>
                                <input id="id_secret_key" name='secret_key' type="text" class="form-control" value="{{ gitlab_list.secret_key }}">
                                <span id="gitlab_settings_secret_key_error" class="gitlab_err"></span>
                            </div>

                            <div class="form_group">
                                <label for="id_git_url">Git URL</label>
                                <input id="id_git_url" name='git_url' type="url" class="form-control" value="{{ gitlab_list.git_url }}">
                                <span id="gitlab_settings_git_url_error" class="gitlab_err"></span>
                            </div>
                            <br />
                            <button class="special-button"><span class="fa fa-save"></span> {% if not gitlab_list %}Save{% else %}Update{% endif %}</button>

                            {% if gitlab_list %}
                                <button class="special-button">
                                    <a href="{% url 'project:git_lab_test_git' slug gitlab_list.id %}" class="git-test">
                                        Set the Project ID
                                    </a>
                                </button>
                            {% endif %}
                            <p><span class="git_response"></span></p>

                      </div>
                    </form>
              <!-- content box starts here -->
                </div>
              </div>
           </div>
        </div>
        <!-- right container ends here-->


{% endblock %}

{%block extra_js %}

    <script type="text/javascript">
        $('#edit_project_submenu').attr('class', 'arrow-up active');
        $('#edit_project_submenu ul').show().children('li#git_lab').addClass('active');
    </script>

    <script type="text/javascript">
        $('#gitlab_settings').on('submit',function(e){
            event.preventDefault();
            $.post("{% if not gitlab_list %}{% url 'project:git_lab_create' slug %}{% else %}{% url 'project:git_lab_edit' slug gitlab_list.id %}{% endif %}", $('#gitlab_settings').serialize(), function(response) {
                $('.gitlab_err').text('');
                if (response['error']) {
                    for (var key in response['errors']) {
                        $('#gitlab_settings_' + key + '_error').text('').append('* '+response['errors'][key])
                    }
                }
                else {
                    window.location = "{% url 'project:git_lab' slug %}"
                }
            })
        });
        {% if gitlab_list %}

            $('.git-test').on('click', function(e){
               event.preventDefault();
                $.get("{% url 'project:git_lab_test_git' slug gitlab_list.id %}", function(resp){
                    if (resp){
                        for (i in resp) {
                            if (resp[i].name=='{{slug}}')
                        {
                            $('.git_response').text(resp[i].name + " " + resp[i].id);
                        }
                        }
                    }
                });
            });

        {% endif %}

    </script>

{%endblock %}
