<div class="nav-left">
   <!-- left menu starts here -->
   <div class="nano-content">
      <ul class="gw-nav gw-nav-list">
         <li class="init-un-active">
            <a href="{% url 'project:project_detail' slug %}"> <span class="gw-menu-text"> <i class="fa fa-area-chart"></i> Project Details</span> </a>
         </li>
         <li class="init-arrow-down">
            <a href="javascript:void(0)"> <span class="gw-menu-text"> <i class="fa fa-sort-amount-asc"></i> Attributes</span> <b class="gw-arrow"></b> </a>
            <ul class="gw-submenu">
               <li> <a href='{% url "project:ticket_status" slug %}'>Status</a> </li>
               <li> <a href='{% url "project:priorities" slug %}'>Priorities</a> </li>
               <li> <a href='{% url "project:issues_severities" slug %}'>Severities</a> </li>
            </ul>
         </li>
         <li>
            <a href="{% url 'project:project_team' slug %}"> <span class="gw-menu-text"><i class="fa fa-users"></i> Members</span> </a>
         </li>
         <li>
            <a href="{% url 'project:manage_role' slug %}"> <span class="gw-menu-text"> <i class="fa fa-lock"></i> Permissions</span> </a>
         </li>
      </ul>
   </div>
   <!-- left menu ends here -->
</div>