{% extends 'settings/base.html' %}
{% load project_tags %}
{% load static %}
{% load staticfiles %}

{% block settings_content %}

    <div class="right-container">
        <div class="panel panel-default content-panel content-panel-extra">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box ">
                    {% if project.members.all|length == 0 %}
                        <div class="role-alert pull-right member-warning-alert">
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><span class="fa fa-warning"></span></strong> You haven't added members yet !
                            </div>
                        </div>
                    {% endif %}

                    <div class="title">
                        <h4>{{ project.name }} - <span class="status">PROJECT MEMBERS</span></h4>
                    {% if request.user.pietrack_role == 'admin' or request.user|is_project_admin:slug %}
                        <div class="tag">
                            You can quickly add members to your team and re-order them at anytime
                        </div>
                        <span class="new">
                            <a href="{% url 'project:create_member' slug %}">
                                <i class="fa fa-user-plus"></i> Add New Member
                            </a>
                        </span>
                    {% endif %}
                    </div>
                    <!-- status table starts here -->
                    <div class="table-responsive member-box">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Admin</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                {% if request.user.pietrack_role == 'admin' or request.user|is_project_admin:slug %}
                                    <th>Action</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for member in project.members.all %}
                                <tr id="{{ member.id }}">
                                    <th scope="row">
                                        <div class="img-text">
                                            <span class="user-pic">
                                             {% if member.profile_pic %}
                                                 <img src="{{member.profile_pic.url}}" />
                                             {% else %}
                                                 <img src="{% static 'img/user-pic.jpg' %}" />
                                             {%endif%}
                                             </span>
                                            <span class="title-email">
                                                <span class="title">
                                                    {% if member.first_name %}{{ member.first_name }}{% else %}{{ member.username }}{% endif %}
                                                </span>
                                                <span class="email">{{member.email}}</span>
                                            </span>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="toggle_user_admin">
                                            <a href="#">
                                            {% if member.pietrack_role == 'admin' or member|is_project_admin:slug %}
                                                <i class="fa fa-toggle-on"></i> Yes
                                                {% else %}
                                                <i class="fa fa-toggle-off"></i> No
                                                {% endif %}
                                            </a>

                                        </div>
                                    </td>
                                    <td>
                                        <p>{{ member|get_user_Role:project|title }}</p>
                                    </td>
                                    <td>
                                        <span class="active-1 status">
                                            Active
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </td>
                                {% if request.user.pietrack_role == 'admin' or request.user|is_project_admin:slug %}
                                    {% if request.user.pietrack_role == 'admin' %}
                                        {% if request.user != member or member|get_user_Role:project != request.user.pietrack_role  %}
                                        <td class="actions">
                                        <a href="{% url 'project:edit_member' slug %}?id={{member.id}}" class="edit"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="delete" onclick="delete_member('{{member.id}}')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        </td>
                                        {% endif  %}
                                    {% else %}
                                        {% if  member != request.user and member.pietrack_role != 'admin' %}
                                        <td class="actions">
                                        <a href="{% url 'project:edit_member' slug %}?id={{member.id}}" class="edit"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="delete" onclick="delete_member('{{member.id}}')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        </td>
                                        {% endif  %}
                                    {% endif %}

                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- status table ends here -->
                    <!-- content box starts here -->
                </div>
            </div>
        </div>
    </div>

{% endblock settings_content %}

{% block extra_js %}

    <script>
        function delete_member(id){
            $.get("{% url 'project:delete_member' slug%}"+"?id="+id, function(response){
                if(response['result'])
                {
                    $("#"+id).remove();
                }
            });
        }
    </script>
    <script type="text/javascript">
        $('#project_members').addClass('active');
    </script>

{% endblock %}
