{% extends 'settings/base.html' %}

{% load static %}
{% load staticfiles %}

{% block settings_content %}

    <div class="right-container">
        <div class="panel panel-default content-panel">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box">
                    <div class="title">
                        <h4><span class="status"> TICKET STATUS</span></h4>
                        <div class="tag">
                            Specify the statuses your user stories, tasks and issues will go through
                        </div>
                        <span class="new"><a href="#" id="add_new">Add New Status</a></span>
                    </div>
                    <!-- status table starts here -->
                    <div class="table-responsive color-box">

                            <table class="table table-striped" id="ticket_status">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th width="40%">Color</th>
                                        <th>Name</th>
                                        <th> is final? </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if ticket_status_list %}
                                    {% for ticket_status in ticket_status_list%}
                                        <tr id="{{ticket_status.id}}" order="{{forloop.counter}}">
                                            <td> <span class="glyphicon glyphicon-move"></span>
                                                {% csrf_token %}
                                                <input name="id" value="{{ticket_status.id}}" type="hidden"/>
                                            </td>
                                            <td scope="row">
                                                <div class="input-group colorpicker-component demo demo-auto">
                                                    <input name="color" type="text"  value="{{ticket_status.color}}" class="form-control" />
                                                    <span class="input-group-addon"><i style="cursor: default;"></i></span>
                                                </div>
                                            </td>
                                            <td>
                                                <!--{{ticket_status.name}}-->
                                                <input name="name" value="{{ ticket_status.name }}" type="text" class="form-control" readonly>
                                            </td>
                                            <td class="actions">
                                                <input type="radio" name="is_final" {% if ticket_status.is_final %}checked="checked"{% endif %}>
                                            </td>
                                            <td class="actions">
                                                <!--<a href="#" class="edit" onclick="edit_ticket_status('{{ticket_status.color}}','{{ticket_status.name}}','{{ticket_status.slug}}')">
                                                    <i class="fa fa-edit"></i>
                                                </a>-->
                                                <a href="#" class="edit" >
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="delete" onclick="delete_ticket_status('{{ticket_status.slug}}','{{ticket_status.id}}')">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor%}
                                {% endif %}
                                </tbody>
                            </table>
                       {% if not ticket_status_list %}
                            <div>
                                <hr />
                                <center>
                                Please create a new status or use
                                    <span class="badge" id="create_default">
                                        <a href="{% url 'project:ticket_status_default' slug %}">default</a>
                                    </span> status list !
                                </center>
                            </div>
                        {% endif %}

                            <!-- form start -->
                        <form action="" method="post" style="display:none;" id="add_form">
                            {% csrf_token %}
                            <input id="status" name="status" value="true" style="display:none;">
                            <input id="slug" name="slug" value="" style="display:none;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th width="40%"></th>
                                        <th></th>
                                        <th style="min-width:76px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <span class="glyphicon glyphicon-move"></span>
                                            <input type='hidden' name='csrfmiddlewaretoken' value='bPv9oPoryCHTEBkgEWm1WAaogWN34AKK' />
                                            <input name="id" value="31" type="hidden"/>
                                        </td>
                                        <td scope="row">
                                            <div class="input-group colorpicker-component demo demo-auto">
                                                <input name="color" type="text"  value="#8b7ebf" class="form-control" />
                                                <span class="input-group-addon"><i style="cursor: default;"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="name" value="" type="text" class="form-control" style="background:#fff;border:1px solid #000">
                                        </td>
                                        <td class="actions">
                                            <input type="radio" name="is_final">
                                        </td>
                                        <td class="actions" clear="clearfixall">
                                            <button type="submit" class="edit"  style=" border:0px solid transparent;"><i class="glyphicon glyphicon-floppy-saved" ></i></button>
                                            <a class="delete" id="id_reset"><span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><span name="color"></span></td>
                                        <td><span name="name"></span></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <!-- form ends here -->
                    </div>
                    <!-- status table ends here -->
                    <!-- content box starts here -->
                </div>
            </div>
        </div>
    </div>

{% endblock settings_content %}
{%block extra_js %}
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        function clear_form() {
            var form = $('form');
            form.css('display', 'none');
            form.find('input[name="name"]').val('');
            $('form span[name="error"]').text('');
            $('#slug').val("");
            $('#status').val("true");
        }
        function delete_ticket_status(slug, id) {
            $.get('/project/{{slug}}/settings/ticket_status/' + slug + '/delete/', function(response) {
                if (!response.error) {
                    $('#' + id).remove();
                }
            });
        }

        $('#add_new').on('click', function() {
            clear_form();
            $('form').css('display', 'block');
        });
        $('#id_reset').click(function(e){
             clear_form();
        });
        $('#add_form').on('submit', function(e) {
            e.preventDefault();
            if ($('#status').val() == "true") {
                $.post('{% url "project:ticket_status_create" slug %}', $('#add_form').serialize(), function(response) {
                    if (response.error) {
                        $("span[name='color']").text("")
                        $("span[name='name']").text("")
                        for(key in response.errors){
                             $("span[name='"+key+"']").text(' * '+response.errors[key]);
                        }
                    } else {
                        $("span[name='color']").text("")
                        $("span[name='name']").text("")
                        var name = response['name'];
                        var color = response['color'];
                        var row_id = response['id'];
                        var slug = response['slug'];
                        data_row = '<tr id="'+ row_id+'"><td><span class="glyphicon glyphicon-move"></span>'+"{% csrf_token %}"+'<input name="id" value="'+row_id+'" type="hidden"></td><td scope="row"><div class="input-group colorpicker-component demo demo-auto colorpicker-element"><input name="color" type="text" value="'+color+'" class="form-control"><span class="input-group-addon"><i style="cursor: default; background-color: rgb(139, 126, 191);"></i></span></div></td><td><input name="name" value="'+name+'" type="text" class="form-control" style="background:#fff"></td><td class="actions"><input type="radio" name="is_final"> </td> <td class="actions"><a  class="edit" style=" border:0px solid transparent;"><i class="fa fa-edit"></i></a>&nbsp;<a class="delete"  onclick="delete_ticket_status(\''+slug+'\',\''+row_id+'\')"><i class="fa fa-trash"></i></a></td></tr>'
                        $('#ticket_status tbody').append(data_row);
                        var is_final = response['is_final'];
                        var is_final = response['is_final'];
                        if (is_final!=false){
                            $('#'+row_id).find('input[name="is_final"]').attr('checked',true)
                            }
                        clear_form();

                    }

                });
            }
        });

        $('#create_default').on('click', function(event){
            event.preventDefault();
            $.get("{% url 'project:ticket_status_default' slug %}", function(response){
               if(response){
                   window.location="/project/{{slug}}/settings/ticket_status/";
               }
            });
        });

    </script>
    <script type="text/javascript">
        $('#project_submenu').attr('class', 'arrow-up active');
        $('#project_submenu ul').show().children('li#project_status').addClass('active');

        /* table sorting */
        var fixHelperModified = function(e, tr) {

            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },
        updateIndex = function(e, ui) {
            $('td.index', ui.item.parent()).each(function (i) {
                $(this).html(i + 1);
            });
            console.log("Start id : " + ui.item.id);
            console.log("Start position: " + ui.item.startPos);
            console.log("New position: " + ui.item.index());
            var prev = ui.item.startPos;
            var current = ui.item.index();
            if(prev != current){
                $.get("{% url 'project:ticket_status_order' slug %}"+"?prev="+prev+"&current="+current);
            }
        }

        $("#ticket_status tbody").sortable({
            helper: fixHelperModified,
            stop: updateIndex,
            start: function(event, ui) {
                ui.item.startPos = ui.item.index();
                ui.item.id = ui.item.id
            },
             update: function( event, ui ) {
                ui.item.id = ui.item.attr("id");
              }
        }).disableSelection();

    /*inline edit*/
    $('body').on('click','a > .fa-edit',function(e){
        e.preventDefault();
        $row = $(this).closest('tr');
        $(this).attr('class','glyphicon glyphicon-floppy-saved');
        $row.find('input').css({border:'solid 1px #00CC66'});
        $row.find('td:nth-child(3) input').attr('readonly',false)
    });

    /*inline save */
    $('body').on('click','a > .glyphicon.glyphicon-floppy-saved',function(e){
        e.preventDefault();
        $instatnce = $(this)
        $row = $(this).closest('tr');
        var data = $row.find('input').serialize();
        $.post('{% url 'project:ticket_status_edit' slug %}',data, function(response){
            if(response['error']){
                $row.find('input').css({border:'none'});
                for (var key in response['errors']) {
                    $input = $row.find('input[name="'+key+'"]');
                    $input.css({border:'solid 1px #FF0000'});
                    console.log($input.parent())
                }

            }
            else{
                $row.find('input').css({border:'none'});
                $row.find('td:nth-child(3) input').attr('readonly',true);
                $instatnce.attr('class','fa fa-edit');
            }
        });
    });
</script>

{%endblock%}
