{% extends 'settings/base.html' %}

{% load static %}
{% load staticfiles %}

{% block settings_content %}

    <div class="right-container">
        <div class="panel panel-default content-panel">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box">
                    <div class="title">
                        <h4><span class="status"> TICKET STATUS</span></h4>
                        <div class="tag">
                            Specify the statuses your user stories, tasks and issues will go through
                        </div>
                        <span class="new"><a href="#" id="add_new">Add New Status</a></span>
                    </div>
                    <!-- status table starts here -->
                    <div class="table-responsive color-box">
                        {% if ticket_status_list %}
                            <table class="table table-striped" id="ticket_status">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th width="40%">Color</th>
                                        <th>Name</th>
                                        <th> is final? </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for ticket_status in ticket_status_list%}
                                        <tr id="{{ticket_status.id}}" order="{{forloop.counter}}">
                                            <td> <span class="glyphicon glyphicon-move"></span></td>
                                            <td scope="row">
                                                <div class="input-group colorpicker-component demo demo-auto">
                                                    <input name="color" type="text"  value="{{ticket_status.color}}" class="form-control" />
                                                    <span class="input-group-addon"><i style="cursor: default;"></i></span>
                                                </div>
                                            </td>
                                            <td>{{ticket_status.name}}</td>
                                            <td class="actions">
                                                <input type="radio" name="is_final" {% if ticket_status.is_final %}checked="checked"{% endif %}>
                                            </td>
                                            <td class="actions">
                                                <a href="#" class="edit" onclick="edit_ticket_status('{{ticket_status.color}}','{{ticket_status.name}}','{{ticket_status.slug}}')">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="delete" onclick="delete_ticket_status('{{ticket_status.slug}}','{{ticket_status.id}}')">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                       {% else %}
                            <div>
                                <hr />
                                <center>
                                Please create a new status or use
                                    <span class="badge" id="create_default">
                                        <a href="{% url 'project:ticket_status_default' slug %}">default</a>
                                    </span> status list !
                                </center>
                            </div>
                        {% endif %}

                            <!-- form start -->
                        <form action="" method="post" style="display:none;" id="add_form">
                            {% csrf_token %}
                            <input id="status" name="status" value="true" style="display:none;">
                            <input id="slug" name="slug" value="" style="display:none;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <div class="input-group colorpicker-component demo demo-auto">
                                                <input name="color" type="text" value="#666666" class="form-control" />
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="name" value="" type="text" style="width: 100px; padding: 2px; border:1px solid #929292;" placeholder="Ticket Status" autofocus />
                                            <span class="input-empty-error" name="error"></span>

                                        </td>
                                        <td class="actions" clear="clearfixall">
                                            <button type="submit" class="edit" style=" border:0px solid transparent;"><i class="fa fa-plus"></i></button>
                                            <a class="delete" id="id_reset"><span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <!-- form ends here -->
                    </div>
                    <!-- status table ends here -->
                    <!-- content box starts here -->
                </div>
            </div>
        </div>
    </div>

{% endblock settings_content %}
{%block extra_js %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        function hexToRgb(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }

        function clear_form() {
            var form = $('form');
            form.css('display', 'none');
            form.find('input[name="name"]').val('');
            $('form span[name="error"]').text('');
            $('#slug').val("");
            $('#status').val("true");
        }

        function edit_ticket_status(color, name, slug) {
            var r = hexToRgb(color).r;
            var g = hexToRgb(color).g;
            var b = hexToRgb(color).b;
            var color_box = '<i style="background-color: rgb(' + r + ',' + g + ',' + b + ');"></i>';

            $('#add_form').css('display', 'block');
            $('#add_form').find("input[name='color']").val(color);
            $('#add_form').find("input[name='name']").val(name);
            $('#status').val("false");
            $('#slug').val(slug);
            $('#add_form span').html(color_box);
            $('.demo').colorpicker();

        }

        function delete_ticket_status(slug, id) {
            $.get('/project/{{slug}}/settings/ticket_status/' + slug + '/delete/', function(response) {
                if (!response.error) {
                    $('#' + id).remove();
                }
            });
        }

        $('#add_new').on('click', function() {
            clear_form();
            $('form').css('display', 'block');
        });

        $('#id_reset').on('click', function() {
            clear_form();

        });

        $('#add_form').on('submit', function(e) {
            e.preventDefault();
            if ($('#status').val() == "true") {
                $.post('{% url "project:ticket_status_create" slug %}', $('#add_form').serialize(), function(response) {
                    if (response.error) {
                        if (response.errors['name']) {
                            $("span[name='error']").text(' * '+response.errors['name']);
                        }
                    } else {

                        var name = response['name'];
                        var color = response['color'];
                        var row_id = response['proj_id'];
                        var slug = response['slug'];

                        data_row = "<tr id=\"" + row_id + "\"><td scope=\"row\"><div class=\"input-group colorpicker-component demo demo-auto\"><input type=\"text\" value=\"" + color + "\" class=\"form-control\"/><span class=\"input-group-addon\"><i></i></span></div></td><td>" + name + "</td><td class=\"actions\"><a href=\"#\" class=\"edit\" onclick=\"edit_ticket_status('" + color + "','" + name + "','" + slug + "')\"><i class=\"fa fa-edit\"></i></a>&nbsp;<a href=\"#\" class=\"delete\" onclick=\"delete_ticket_status('" + slug + "','" + row_id + "')\"><i class=\"fa fa-trash\"></i></a></td></tr>";
                        $('#ticket_status tbody').append(data_row);
                        $('.demo').colorpicker();
                        clear_form();
                    }

                });
            } else {
                var myslug = $('#slug').val();
                $.post('/project/{{slug}}/settings/ticket_status/' + myslug + '/edit/', $('#add_form').serialize(), function(response) {
                    if (response.error) {
                        if (response.errors['name']) {
                            $("span[name='error']").text(' * '+response.errors['name']);
                        }
                    } else {

                        var name = response['name'];
                        var color = response['color'];
                        var row_id = response['proj_id'];
                        var slug = response['slug'];

                        $('#' + row_id + ' a.edit').attr('onclick', "edit_ticket_status('" + color + "','" + name + "','" + slug + "')");
                        $('#' + row_id + ' a.delete').attr("onclick", "delete_ticket_status('" + slug + "','" + row_id + "')");
                        $('#' + row_id + ' td:nth-child(2)').text(name);
                        $('#' + row_id + ' input').val(color);
                        var r = hexToRgb(color).r;
                        var g = hexToRgb(color).g;
                        var b = hexToRgb(color).b;
                        var color_box = '<i style="background-color: rgb(' + r + ',' + g + ',' + b + ');"></i>';
                        $('#' + row_id + " span").html(color_box);
                        $('.demo').colorpicker();
                        clear_form();
                    }

                });

            }
        });

        $('#create_default').on('click', function(event){
            event.preventDefault();
            $.get("{% url 'project:ticket_status_default' slug %}", function(response){
               if(response){
                   window.location="/project/{{slug}}/settings/ticket_status/";
               }
            });
        });

    </script>
    <script type="text/javascript">
        $('#project_submenu').attr('class', 'arrow-up active');
        $('#project_submenu ul').show().children('li#project_status').addClass('active');

        /* table sorting */
        var fixHelperModified = function(e, tr) {

            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },
        updateIndex = function(e, ui) {
            $.get("/project/{{slug}}/settings/ticket_status/"+ui.item.attr('id')+"/order/", function (response) {
                if(response){
                    console.log(response.ticket);
                }
            }, 'json');

            $('td.index', ui.item.parent()).each(function (i) {
                $(this).html(i + 1);
            });

            alert(ui.item.attr('order'));
           /* $('td.index').attr('order').change(function(e){
               console.log ($(this).attr('order'))
            })*/
        };

        $("#ticket_status tbody").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();


/*
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                $("#ticket_status tbody").sortable({
        helper: fixHelperModified,
        stop: updateIndex
        update: function(event, ui) {
        $('table tr').each(function() {
            $(this).children('td:first-child').html($(this).index())
            console.log($(this).index())
        });
    }).disableSelection();
*/
</script>

{%endblock%}
