{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<section id='base_content' class='create_project'>
      <div class="content_box">
        <div class="title">
          <h4>Change Password</h4>
          <div class="tag">Compellingly re-intermediate premier materials for client-centered markets.for client-centered markets.</div>
        </div>
        <div class="panel_box">
          <form action="" class="" id="post-form">
              {% csrf_token %}
              <div class="form_group">
                <label>Old Password</label>
                <input id="id_password" type="password" class='input' name="password">
                  <span name="password"></span>

                <div class="help">your current password</div>
              </div>
              <div class="form_group">
                <label>New Password</label>
                <input id="id_password1" type="password" class='input' name="password1">
                  <span name="password1"></span>
                <div class="help">Type a new password</div>
              </div>
              <div class="form_group">
                <label>Re-Type New Password</label>
                <input id="id_password2" type="password" class='input' name="password2">
                  <span name="password2"></span>
                <div class="help">Re-Type the new password</div>
              </div>

              <button>Chnage Password</button>
          </form>
        </div>
      </div>
    </section>
{% endblock %}
{% block jscript %}
    <script type="text/javascript">
        // ajax for posting

        function display_error(response){
            if(response){
                return response;
            }
            else{
                return '';
            }
        };
        function create_post(){
            var user = '{{user}}'
            $.post("{% url 'accounts:change_password' %}",$('form').serialize()+'&'+$.param({ 'user': user }), function(result){
                var res = result;
                if(result['error']){
                    $("span[name='password']").text(display_error(result['response'].password));
                    $("span[name='password1']").text(display_error(result['response'].password1));
                    $("span[name='password2']").text(display_error(result['response'].password2));
                }
                else{
                    alert(result['response']);
                    window.location.href='/accounts'
                }
            });
        }
        $('#post-form').submit(function(event){
            event.preventDefault();
            create_post();
        });
    </script>

{% endblock %}