{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>pieT</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/slim_scroll.less' %}">
    <link rel="stylesheet" type="text/less" href="{% static 'less/main.less' %}">
    {% endcompress %}
  </head>
  <body>
    <header id='header_base'>
<!-- logo -->
	<!--<span class="logo">
	<i class='fa fa-pie-chart'></i>
	</span>-->
	<!--/ logo -->
	<!-- project mgmt -->
	<!--<span class='pg_mt'>
		<i class='fa fa-folder-open-o'></i>
	</span>-->
	<!--/ project mgmt -->
	<!-- left menu -->
	<div class='left_header'>
	<div class="menu">
	<ul>
    	<li>
			<span class='each_wrap child_logo'>
				<i class='fa fa-pie-chart'></i>
			</span>
		</li>
		<li>
			<span class='each_wrap child_project'>
				<i class='fa fa-folder-open-o'></i>
			</span>
		</li>
        
		<li>
			<span class='each_wrap child_one'>
				<i class='fa fa-clock-o'></i>
				<span class='name'>TimeLine</span>
			</span>
		</li>
		<li>
			<span class='each_wrap child_two'>
				<i class='fa fa-globe'></i>
				<span class='name'>Backlog</span>
			</span>
		</li>
		<li>
			<span class='each_wrap child_three'>
				<i class='fa fa-bug'></i>
				<span class='name'>Issues</span>
			</span>
		</li>
		<li>
			<span class='each_wrap child_four'>
				<i class='fa fa-language'></i>
				<span class='name'>Wiki</span>
			</span>
		</li>
		<li>
			<span class='each_wrap child_five'>
				<i class='fa fa-users'></i>
				<span class='name'>Team</span>
			</span>
		</li>
		<li>
			<span class='each_wrap child_six'>
				<i class='fa fa-gears'></i>
				<span class='name'>Settings</span>
			</span>
		</li>
	</ul>
	</div>
	</div>
	<!--/ left menu -->
	<!-- right header -->
	<div class='right_header'>
	<div class='menu'>
	<ul>
	<li class='parent_list'>
			<span class='each_wrap extras'>
				<i class='fa fa-arrow-down'></i>
				<span class='name'>Extras</span>
			</span>
			<ul class="sub_list_extras">
				<li>
					<span class='extras_drop_child extras_one'>
						<i class='fa fa-user'></i>
						<span class='name'>Profile</span>
					</span>
					</span>
				</li>
				<li>
					<span class='extras_drop_child extras_two'>
						<i class='fa fa-expeditedssl'></i>
						<span class='name'>Change Password</span>
					</span>
					</span>
				</li>
			</ul>
		</li>
		<li class='parent_list'>
			<span class='each_wrap notification'>
				<i class='fa fa-bell'></i>
				<span class='name'>Notifications</span>
				<span class='number count'>25</span>
			</span>
			<div class='scroll'>
			<ul class='sub_list'>
				<li>
					<span class='ticket'>
                        <img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
			</ul>
			</div>
		</li>
		<li>
			<span class='each_wrap logout'>
				<i class='fa fa-power-off'></i>
				<span class='name'>Logout</span>
			</span>
		</li>
	</ul>
	</span>
	<span class="name_img_wrap">
		<span class='name'>
			Hello, <span>Nazneen Shaik</span>
		</span>
		<img src='http://epicwpp.com/wp-content/uploads/Smiling-minions-Frank-and-Dave-holding-a-Seastar_www.EpicWpp.com_.jpg'>
        </span>
	</div>
	</div>
	<!--/ right header -->
</header>
    <section id='base_content' class='create_project'>
      <div class="content_box">
        <div class="title">
          <h4>New Member</h4>
          <div class="tag">Compellingly reintermediate premier materials for client-centered markets.for client-centered markets.</div>
        </div>
        <form id = 'id_form_append'>
            <div id = 'id_div_append'>
                <div id = 'id_div_add0' class="panel_box">
                  <div class="form_group">
                    <label>Email Address</label>
                    <input name = 'email' type="text" class='input'>
                    <span id = 'id_span_error_email0' class = 'class_span0'>dinesh</span>
                  </div>
                  <div class="form_group">
                    <label>Member Designation</label>
                    <select name = 'designation' type="text" class='input'>
                    	<option>UX</option>
                        <option>Front end Developer</option>
                    </select>
                    <span>druuu</span>
                  </div>
                  <a class="action" href="#">
                      <i id = 'id_i_fa_add' class="fa fa-plus"></i>
                  </a>
                </div>
            </div>
            {% csrf_token %}
        </form>
       
        <form id = 'id_form_description'>
            <div class="panel_box">
            	<div class="form_group">
                <label>Description</label>
                <textarea id = 'id_textarea_description' name = 'description' class="textarea"></textarea>
                <span id = 'id_span_description_error'></span>
              </div>
            </div>
            {% csrf_token %}
        </form>
        
        <div id = 'id_div_create_member' class="panel_box">
        	<button id = 'id_button_create_member'>create memeber</button>
            <div class="help">If users are already registered on pietrack, they will be added automatically. Otherwise they will receive an invitation.</div>
        </div>
        
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='js/jquery.slimscroll.js'></script>
    <script type="text/javascript">
    </script>
    <script>
        var id_members_array = ['id_form_add0']
        var id_form_count = 0
        var i = 0;
        $(document).ready(function(){
            $('#id_i_fa_add').click(function duplicate() {
                $('#id_i_fa_add').off('click')
                $('.fa.fa-trash').off('click')
                var original = document.getElementById('id_div_add' + i);
                var clone = original.cloneNode(true);
                $('#' + clone.id + " a i").attr('class', 'fa fa-trash') 
                $('#' + clone.id + " a i").attr('id', 'id_i_fa_del' + i)
                clone.id = "id_div_add" + ++i; 
                clone.querySelectorAll("[id = 'id_span_error_email" + (i - 1) + "']")[0].id = 'id_span_error_email' + i
                document.getElementById('id_form_append').appendChild(clone);
                $('#id_i_fa_add').on('click', duplicate);
                $('.fa.fa-trash').on('click', duplicate_trash)
            });
        });

        function duplicate_trash(){
            var trash_id = this.id
            var parent_trash_id = $('#' + trash_id).parents().eq(1).attr('id')
            $('#' + parent_trash_id).remove()
        }

        function display_error(error){
            if(error){
                return error
            }
            return ''
        }
        
        $('#id_button_create_member').click(function(event){
            var id_span_array = []
            $("#id_div_append").find("span").each(function(){ id_span_array.push(this.id); });
            event.preventDefault()
                var description = $('#id_textarea_description').val()
                $.post('', $('#id_form_append').serialize()+'&'+$.param({ 'description': description }), function(response){
                    if(response['error'] === true){
                        var span_id_array = []
                        $('#id_form_append').find('span').each(function(){ var span_id = this.id
                            if(span_id){
                                span_id_array.push(span_id)
                            }
                        });
                        for(var key in response){
                            $('#' + span_id_array[key]).text('').append(display_error(response[key].email))
                        }
                    }
                    else{
                        alert('members added')
                    }
                });
        });
    </script>
