{% extends 'git_lab/base.html' %}
{% load project_tags %}
{% load static %}
{% load staticfiles %}
{% block settings_content %}

<!-- right container starts here-->
<div class="right-container">
        <div class="panel panel-default content-panel">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box">
                    <div class="title">
                        <h4>{{ project.name }} - GIt Project "{{ resp.name }}" Milestone "{{ milestone_details.title }}" Details</h4>
                        <div class="tag">
                          For project settings of GitLab
                        </div>
                    </div>
                    {% if resp and milestone_details %}

                        <div class="table-responsive">

                            <h1>Project Milestone Details:</h1>
                            <br />

                            <table class="table table-bordered">
                                <thead>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>State</th>
                                    <th>Created On</th>
                                    <th>Due Date</th>
                                    <th>Project</th>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ milestone_details.id }}</td>
                                        <td>{{ milestone_details.title }}</td>
                                        <td>{{ milestone_details.description }}</td>
                                        <td>{{ milestone_details.state }}</td>
                                        <td>{{ milestone_details.created_at }}</td>
                                        <td>{{ milestone_details.due_date }}</td>
                                        <td>{{ milestone_details.project_id }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if milestone_issues %}
                            <h1>Project Milestones Issues:</h1>
                            <br />

                            <table class="table table-bordered">
                                <thead>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Labels</th>
                                    <th>State</th>
                                    <th>Created On</th>
                                    <th>Assigned To</th>
                                    <th>Created By</th>
                                    <th>Project</th>
                                </thead>

                                <tbody>
                                    {% for milestone_issue in milestone_issues %}
                                    <tr>
                                        <td><a href="{% url 'project:git_project_issue_comments' slug milestone_issue.id %}">{{ milestone_issue.id }}</a></td>
                                        <td>{{ milestone_issue.title }}</td>
                                        <td>{{ milestone_issue.description }}</td>
                                        <td>{% for label in milestone_issue.labels %}{{ label }}{% if not forloop.last %}, {% else %}{% endif %}{% endfor %}</td>
                                        <td>{{ milestone_issue.state }}</td>
                                        <td>{{ milestone_issue.created_at }}</td>
                                        <td><img src="{{ milestone_issue.assignee.avatar_url }}" class="responsive" height="30px"> {{ milestone_issue.assignee.name }}</td>
                                        <td><img src="{{ milestone_issue.author.avatar_url }}" class="responsive" height="30px"> {{ milestone_issue.author.name }}</td>
                                        <td>{{ milestone_issue.project_id }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="row">
                                <p align="center">No issues were assigned to this milestone : {{ milestone_details.title }}</p>
                            </div>
                            {% endif %}


                        </div>

                    {% else %}
                    <div class="row">
                        <blockquote>
                          <p>Provid GitLab settings to get the projects details.</p>
                          <footer> Click <cite title="Source Title">GitLab button</cite></footer>
                        </blockquote>
                    </div>
                    {% endif %}
              <!-- content box starts here -->
                </div>
              </div>
           </div>
        </div>
        <!-- right container ends here-->


{% endblock %}

{%block extra_js %}

    <script type="text/javascript">
        $('#git_submenu').attr('class', 'arrow-up active');
        $('#git_submenu ul').show().children('li#git_project_milestones').addClass('active');
    </script>

{% endblock %}