{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block content %}
<section id='base_content'>
    <div class="project_description">
        <!-- about project -->
        <div class="about_project_wrap">
            <div class="title">

                <span>{{ project.name }} - Issues</span>
                <span class='header_button_wrap'>
                    <a href="">
                        <span class='header_button'><i class="fa fa-plus-circle"></i> New Issue</span>
                    </a>
                </span>
            </div>
            <!-- filters -->
            <div class="filters_wrap">
                <h3>Refine your search</h3>
            <form action="" method="get" id="search">
                <div class="row filter_row">
                    <div class="col-md-2">
                        <select class='select2 input select2_assigned_to' name="assigned_to" multiple>
                            {% for member in member_list %}
                                <option value="{{ member.id }}">{{ member }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class='select2 input issue_type' name="issue_type" multiple>
                            {% for issue_type in issue_type_list%}
                                <option value="{{ issue_type }}">{{ issue_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class='select2 input issue_title' name="issue_list" multiple>
                            {% for issue in issue_list %}
                                    <option value="{{ issue.id }}">{{ issue.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="col-md-2">
                        <input name="start_date" type="text" class='input' id='sdate' placeholder='Created Date'>
                    </div>
                    <div class="col-md-2">
                        <input name="end_date" type="text" class='input' id='edate' placeholder='Finished Date'>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class='submit_btn'><i class='fa fa-search'></i>Go</button>
                    </div>
                </div>
            </form>
            <br>
            <!--/ filters -->
            <!-- lists div -->
              <div class="table-responsive color-box">

                            <table class="table table-striped" id="issue" >
                                <thead>
                                    <tr>
                                        <th width="20%">Subject</th>
                                        <th width="10%">Type</th>
                                        <th width="5%"> Severity </th>
                                        <th width="5%"> Priority</th>
                                        <th width="18%"> Status </th>
                                        <th width="18%"> Created </th>
                                        <th width="18%"> Assigned to </th>
                                    </tr>
                                </thead>
                                <tbody style="cursor: pointer;">
                                  {% for issue in issue_list %}
                                    <tr id="{{ issue.id }}">
                                        <td> {{ issue.name }} </td>
                                        <td> {{ issue.ticket_type }} </td>
                                        <td scope="row">
                                                <div class="input-group colorpicker-component demo demo-auto">
                                                    <input name="color" type="text"  value="{{issue.severity.color}}" class="form-control demo" style="display: none"/>
                                                    <span class="input-group-addon" style="background: none; border:none; "><i style="cursor: default;"></i></span>
                                                </div>
                                        </td>
                                        <td scope="row">
                                                <div class="input-group colorpicker-component demo demo-auto">
                                                    <input name="color" type="text"  value="{{issue.priority.color}}" class="form-control demo" style="display: none"/>
                                                    <span class="input-group-addon" style="background: none; border:none; "><i style="cursor: default;"></i></span>
                                                </div>
                                        </td>
                                        <td>

                                            <select class="form-control issue" name="status">
                                              {% for status_iter in status_list %}
                                                <option value="{{ status_iter.id }}" {% if status_iter == issue.status %} selected {% endif %}>{{ status_iter }}</option>
                                              {% endfor %}
                                            </select>
                                        </td>
                                        <td> {{ issue.created_date }} </td>
                                        <td>
                                            <select class="form-control issue" name="assigned_to">
                                              {% for member in member_list %}
                                                <option value="{{ member.id }}" {% if member == issue.assigned_to %} selected {% endif %}>{{ member }}</option>
                                              {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                          {% if not issue_list %}
                            <hr>
                            <div style="text-align: center;font-weight: bold;padding:0px;margin: 0px; color: #E88E00">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  Sorry, Search query not found !
                            </div>
                            <hr>
                          {% endif %}
            <!--/ lists div -->
            <div class="clearfix"></div>
        </div>
        <!--/ about project -->
    </div>
    <!-- edit role add modal starts here -->

    <!-- edit role add modal ends here -->
  </section>
{% endblock %}
{% block extra_js_links%}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    $('.demo').colorpicker().css({'pointer-events': 'none'});
    $('.demo').removeClass('')
    $(function() {
        $('.scroll').slimscroll({
            alwaysVisible: false,
            height: 350
        });
    });
    $('.sub_list').mouseenter(function(event) {
        $(this).closest('.parent_list').addClass('active_li_drop')
    });
    $('.sub_list').mouseleave(function(event) {
        $(this).closest('.parent_list').removeClass('active_li_drop')
    });
    </script>
    <script type="text/javascript">
     $(function() {
        $("#sdate, #edate").datepicker();
    });
    </script>
    <script type="text/javascript">
        $('.select2_assigned_to').select2({
            tags:"true",
            placeholder: 'Assigned members'
        });

        $(".issue_type").select2({
          tags: "true",
          placeholder: "issue type"
        });

        $(".issue_title").select2({
          tags: "true",
          placeholder: "Issue Title"
        });

    /* extra code */

        $('tr .issue').change(function(e){
            $row= $(this).closest('tr')
            var data = "issue_id="+$row.attr('id');
            $.each($row.find('select[name]'), function(index,value){
                data += '&'+$(value).serialize()
            });
            $.get('{% url 'project:update_issue' slug %}'+'?'+data);
        });
        $('#issue tbody tr ').click(function(e){
            var id = $(this).attr('id');
            window.location.href = "/project/{{ slug }}/issue/"+id+"/details"
        }).children().find('select').on('click', function(){return false;});
    </script>
{% endblock%}
