{%extends 'base.html'%}
{% load project_tags %}
{%load static %}


{% block project_notifications %}
      <span class='each_wrap notification'>
      <i class='fa fa-bell'></i>
      <span class='name'>Notifications</span>
        <span class='number count'>{{ project_object.timeline_set.all.count }}</span>
        </span>
        <ul class='sub_list'>
          <div class='scroll'>

        {% for event in project_object.timeline_set.all reversed %}
          <li>
            <span class='ticket'>
            {%if event.user.profile_pic %}
                <img src="{{ event.user.profile_pic.url }}">
            {% else %}
                <img src="{% static 'img/user-pic.jpg' %}">
            {% endif%}
            <span class='description'>
                <span class='name'>{{event.user.username}}</span> {{event.namespace}}
                in <span class='project'>{{event.project}}</span>
                <br />
                <span class='designation_time'>
                    {{event.created|timesince}} &nbsp;
                    {% if event.created|timesince == 0  %}
                        just now
                    {% else %}
                        ago
                    {% endif %}
                </span>
                </span>
            </span>
          </li>

        {% endfor %}

          </div>
        </ul>
{% endblock %}


{%block content%}
  <section id='base_content'>
    <div class="project_description">
        <!-- about project -->
        <div class="col-md-9 about_project_wrap">
            <div class="title">
                <span>{{project_object.name}}</span>
            </div>
            <div class="profile-pic-count">
                <div class="col-md-9 content">
                    <div class="profile-content">
                        <span class="desc">
                       {{project_object.description}}
                  </span>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <!-- tickets -->
        {% for event in project_object.timeline_set.all reversed %}    
            <span class='ticket blue'>
                {%if event.user.profile_pic %}
                    <img src="{{ event.user.profile_pic.url }}">
                {% else %}
                    <img src="{% static 'img/user-pic.jpg' %}">
                {% endif%}

              <span class='description'>
                <span class='name'>{{event.user.username}}</span> 
                {{event.namespace}}
                <!-- <span class='project_name'>#xyz test</span> --> in <span class='project_name'>{{event.project}}</span>
                <span class='designation_time'>
                    {{event.created|timesince}} &nbsp;
                    {% if event.created|timesince == 0  %}
                        just now
                    {% else %}
                        ago
                    {% endif %}
                </span>
              </span>
            </span>

        {% endfor %}
            <!--/ tickets -->
        </div>
        <!--/ about project -->
        <!-- team -->
        <div class="col-md-3 team">
            <div class="title">
                <span>team members</span>
            </div>
            <!-- ticket -->
            {% for team_member in project_members %}
            <span class='ticket orange'>
                {%if team_member.profile_pic %}
                    <img src="{{ team_member.profile_pic.url }}">
                {% else %}
                    <img src="{% static 'img/user-pic.jpg' %}">
                {% endif%}
                <span class='description'>
                    <span class='name'>{{team_member.username}}</span>
                    <span class='designation_time'>{{team_member|get_user_Role}}</span>
                </span>
            </span>
            {% endfor %}
            <!--/ ticket -->
        </div>
        <!--/ team -->
    </div>
  </section>
{%endblock content%}
