{% extends 'base.html' %}
{% load paginate %}
{% load staticfiles %}

{% block content %}
  <section id='base_content'>
    <div class="list_of_projects">
        <div class="title">
            <div class="center">
                <span>
                    Manage all your projects in one place.
                </span>
                <div class="left">my projects</div>
                <div class="right">
                    {% if request.user.pietrack_role == 'admin' %}
                    <a href="{% url 'project:create_project' %}">
                        <button> create Project</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if projects_list %}
        {% paginate 5 projects_list %}

            <div class="table_div">
                <table class='table table-hover'>
                    <tbody>
                        {% for project in projects_list %}
                            <tr data-href="{% url 'project:project_detail' slug=project.slug %}">
                                <td>
                                {% if project.logo %}
                                    <img src='{{project.logo.url}}' width="50%" height="50%">
                                {% else %}
                                    <img src="{% static 'img/Project-logo.jpg' %}">
                                {% endif %}
                                </td>
                                <td>
                                    <h2>{{ project.name }}</h2>
                                    <p>{{ project.description|truncatewords:30|safe }}</p>
                                    <p align="right">Continue reading ...</p>
                                </td>
                                <td width="15%">
                                    <p>{{project.created_date}}</p>
                                    <p>Author: <span class="badge"> {{project.created_by.username}} </span></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- pagination -->
              <div class="pagination_wrap">
                  <center>
                      {% show_pages %}
                  </center>
              </div>
            <!--/ pagination -->

        {% else %}
            <br clear="clearfixall" />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> Create a new project </h3>
                </div>
                <div class="panel-body">
                    <center>No projects were added here.<br />
                        Kindly create a new project <br />
                    </center>
                </div>
            </div>
        {% endif %}
    </div>
  </section>
{%endblock content%}

{% block extra_js %}
 <script type="text/javascript">
    $('tr[data-href]').on("click", function() {
        window.location = $(this).data('href');
    });
 </script>
{% endblock %}
