{% extends 'base.html' %}
{% load compress %}
{% load static %}
{% load staticfiles %}
{% block content %}
{% compress css %}
     {% block extra_css_links %}
        <link rel="stylesheet" type="text/css" href="{%static 'less/bs_leftnavi.less' %}">
     {% endblock %}
{% endcompress %}

<section id="box-content">
  <!-- nav left starts here-->
     {% include "settings/left_menu.html" %}
  <!-- nav left ends here-->
  <!-- right container starts here-->
  <div class="right-container">
    <div class="panel panel-default content-panel">
      <div class="panel-body">
        <!-- content box starts here -->
        <div class="content_box">
          <div class="title">
            <h4>SAMPL1PROJECT DETAILS</h4>
            <div class="tag">Compellingly reintermediate premier materials for client-centered markets.for client-centered markets.</div>
          </div>
          <form action="" method="post" id="id_form_cproject">
            {%csrf_token%}
            <div class="panel_box">
              <div class="form_group">
                <label>Project Name</label>
                <input name='name' type="text" class="form-control" value="{{project.name}}">
                <input name='oldname' type="hidden" class="form-control" value="{{project.slug}}">
                <span name="pname_error"></span>
                <!--Error here -->
                <div class="help">Dynamically maximize professional models whereas.</div>
              </div>
              <div class="form_group">
                <label>Description</label>
                <textarea name='description' class="textarea">{{project.description}}</textarea>
                <span name="pdescription_error"></span>
                <!--Error here -->
                <div class="help">Dynamically maximize professional models whereas.</div>
              </div>
              <button>Save</button>
              <span class="del-project"><a href="{%url 'project:delete_project' id=project.id %}">Delete Project</a>
              </div>
            </form>
              <!-- content box starts here -->
              </div>
              </div>
             </div>
        </div>
        <!-- right container ends here-->
    </section>

{% endblock %}

{%block extra_js_links %}
    <script type="text/javascript" src="{%static 'js/bs_leftnavi.js' %}"></script>
{%endblock extra_js_links %}

{%block extra_js %}
<script type="text/javascript">
        function send_error(error)
          {
              if(error)
                  return error;
              return "";
          }
        $('#id_form_cproject').on('submit',function(e){
          $.post('',$('#id_form_cproject').serialize(),function(response){
            if(response['error']){
              $("span[name='pname_error']").text(send_error(response['errors'].name));
              $("span[name='pdescription_error']").text(send_error(response['errors'].description));
            }
            else{
              /*redirect page here */
              $("span[name='pname_error']").text("");
              $("span[name='pdescription_error']").text("");
              alert("Project edited");
              window.location.href="{%url 'project:list_of_projects'%}"
              
              
            }
          });
          e.preventDefault();
        });
</script>
{%endblock %}
