{% extends 'base.html' %}


{% load compress %}
{% load static %}
{% load staticfiles %}

{% compress css %}
  {% block extra_css_links %}
    <link rel="stylesheet" type="text/css" href="{%static 'less/bs_leftnavi1.css' %}">
  {% endblock %}
{% endcompress %}

{% block content %} 
 <section id="box-content">
    <!-- nav left starts here-->
    {% include "settings/left_menu.html" %}
    <!-- right container starts here-->
    <div class="right-container">
        <div class="panel panel-default content-panel">
            <div class="panel-body">
                <!-- content box starts here -->
                <div class="content_box">
                    <div class="title">
                        <h4>{{ project.name }} DETAILS</h4>
                        <div class="tag">
                          The project plan serves as a roadmap for the entire project team 
                        </div>
                    </div>
                    <form action="" method="post" id="id_form_cproject">
                        {%csrf_token%}
                        <div class="panel_box">
                            <div class="form_group">
                                <label>Project Name</label>
                                <input name='name' type="text" class="form-control" value="{{project.name}}">
                                <input name='oldname' type="hidden" class="form-control" value="{{project.slug}}">
                                <span name="pname_error" class="help"></span>
                            </div>
                            <div class="form_group">
                                <label>Description</label>
                                <textarea id="description" name='description' class="textarea">{{project.description}}</textarea>
                                <span name="pdescription_error" class="help"></span>
                            </div>
                            <div class="form_group">
                                <label>Logo</label>

                                   <img id="logo" src="{% if project.logo %}{{project.logo.url}}{% else %}{% static 'img/Project-logo.jpg' %}{% endif %}" class="img-responsive img-thumbnail" style="width:100px;height:100px;margin-left:20px;margin-bottom:10px;" />

                                    <input id="file" name="logo" type="file" value="" style="display:none;"/>
                                    <br>
                                    <span  id="logo-err" class="help" style="margin-left:20px;margin-bottom:10px;"></span>

                            </div>
                            <button class="special-button"><span class="fa fa-save"></span> Save</button>
                            <span class="del-project">
                                <a href="{%url 'project:delete_project' id=project.id %}"><input type="button" class="special-button" value="Delete"/></a>
                            </span>
                      </div>
                    </form>
              <!-- content box starts here -->
                </div>
              </div>
           </div>
        </div>
        <!-- right container ends here-->
  </section>
{% endblock %}

{%block extra_js_links %}
    <script type="text/javascript" src="{%static 'js/bs_leftnavi.js' %}"></script>
{%endblock extra_js_links %}

{%block extra_js %}

    <script type="text/javascript">
        CKEDITOR.replace('description');
    </script>

  <script type="text/javascript">
        $("#logo").click(function(e){
            $("#file").click()
        });
        $("#file").change(function(e){
            var tmppath = URL.createObjectURL(event.target.files[0]);
            if(tmppath){
              $("#logo").attr('src',tmppath)  
            }
        });
        function send_error(error)
          {
              if(error)
                  return error;
              return "";
          }
        $('#id_form_cproject').on('submit',function(e){
          $('#description').val(CKEDITOR.instances.description.getData());
          var form = this
          var formData = new FormData($(this)[0]);
          $.ajax({
            url: "",
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(response) {
                if(response['error']){
                    $("span[name='pname_error']").text(send_error(response['errors'].name));
                    $("span[name='pdescription_error']").text(send_error(response['errors'].description));

                    if(response['logo'])
                      {
                          $("#logo-err").text("Please choose a Image(png/jpg/gif)")
                      }
                  }
                  else{
                    $("span[name='pname_error']").text("");
                    $("span[name='pdescription_error']").text("");
                    /*alert("Project edited");*/
                    window.location="{%url 'project:list_of_projects'%}"
                  }
            }
          });

          e.preventDefault();
        });
  </script>
    <script type="text/javascript">
        $('.edit-project').addClass('active');
    </script>
{%endblock %}
