{% extends 'base.html' %}
{% block content %}
  <section id='base_content' class='create_project'>
   <div class="content_box">
        <div class="title">
            <h4>Requirement</h4>
            <div class="tag">
               a requirement is a singular documented physical and functional need that a particular design, product or process must be able to perform.
            </div>
        </div>
        <div class="panel_box">
             <form id='requirement_form'>
                {% csrf_token %}
                <div class="form_group">
                    <label for="requirement_name">Title</label>
                    <input id='requirement_name' name='name' type="text" class='input' value="{{ requirement_obj.name }}">
                    <span id='requirement_name_error'></span>
                </div>
                <div class="form_group">
                    <label for="requirement_milestone">Milestone</label>
                    <select id="requirement_milestone" name='milestone' class='input' disabled>
                           <option value='{{ milestone.id }}'>{{ milestone.name }}</option>
                    </select>
                    <input type="hidden" name="milestone" value="{{ milestone.id }}"/>
                    <span id='requirement_milestone_error'></span>
                </div>
                <div class="form_group">
                    <label for="requirement_desc">Description</label>
                    <textarea id='requirement_desc' name='description' class="form-control textarea">{{ requirement_obj.description }}</textarea>
                    <span id='requirement_description_error'></span>
                </div>
                <br clear="clearfixall">
                <button id='requirement_save'><i class="fa fa-save"></i> Save</button>
             </form>
        </div>
    </div>
  </section>
{% endblock %}
{% block extra_js %}
  <script>
    $('#requirement_save').click(function(event) {
        event.preventDefault();
        $.post('', $('#requirement_form').serialize(), function(data) {
            if (data['error'] === true) {
                $('span.span_error').remove();
                for (var key in data.form_errors) {
                    $('#requirement_' + key + '_error').after("<span class = 'span_error'> * " + data.form_errors[key] + "</span>")
                }
            } else {
                /*alert('Successfully added requirement !');*/
                window.location='/project/{{ slug }}/tickets/'
            }
        });
    });
  </script>
{% endblock %}
