{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section id='base_content' class='create_project'>
      <div class="content_box">
  <div class="title">
    <h4>User Profile</h4>
    <div class="tag">Compellingly reintermediate premier materials for client-centered markets.for client-centered markets.</div>
  </div>
  <div class="panel_box">
    <form class="" action="" method="post" id="post-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="user-pic-block">
        <span class="user-picture">
                     {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" width="100px" height="100px"/>
                     {% else %}
                     <img src="{% static 'img/user-pic.jpg' %}" />
                     {% endif %}
                 </span>
        <span class="pic-size">The image will be scaled to 80x80px.</span>
        <span class="pic-btn">
                     <button id="change_picture_button">Change Picture</button>
                    <input id="id_profile_pic" name="profile_pic" type="file" style='display:none;'/>
                 </span>
      </div>
      <div class="form_group">
        <label for="id_username">User Name</label>
        <input id="id_username" name="username" type="text" class='input' value="{{ user.username }}">
        <span name="username"></span>
        <div class="help">Type your username here</div>
      </div>
      <div class="form_group">
        <label for="id_email">Email Address</label>
        <input type="text" class='input' id="id_email" name="email" value="{{ user.email }}">
        <span name="email"></span>
        <div class="help">Type your email address here</div>
      </div>
      <div class="form_group">
        <label for="id_first_name">Full Name</label>
        <input type="text" class='input' id="id_first_name" name="first_name" value="{{ user.first_name }}">
        <span name="first_name"></span>
        <div class="help">Type your Full name here</div>
      </div>
      <div class="form_group">
        <label for="id_biography">Bio (Max 300 letters)</label>
        <textarea class="form-control textarea" id="id_biography" name="biography">{{ user.biography }}</textarea>
        <span name="biography"></span>
        <div class="help">Type your bio-graphy here</div>
      </div>
      <button>Save</button>
    </form>
  </div>
</div>
</section>

{% endblock %}
{% block extra_js %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript" >

        $("#change_picture_button").click(function(e){
        e.preventDefault();
        $("#id_profile_pic").click()
        });

        function display_error(response){
            if(response){
                return response;
            }
            else{
                return '';
            }
        };

        $('#post-form').ajaxForm(function(){

            $.post("{% url 'user:user_profile' %}",$('form').serialize(), function(result){
                if(result['error']){
                    $("span[name='profile_pic']").text(display_error(result['response'].profile_pic));
                    $("span[name='username']").text(display_error(result['response'].username));
                    $("span[name='email']").text(display_error(result['response'].email));
                    $("span[name='first_name']").text(display_error(result['response'].first_name));
                    $("span[name='last_name']").text(display_error(result['response'].last_name));
                    $("span[name='biography']").text(display_error(result['response'].biography));
                }

                else{
                    alert(result['response']);
                }
            });
        });

    </script>

{% endblock %}